<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../../partials/head.ejs'); %>
		<link rel="stylesheet" href="/styles/lofidriver.css" />
	</head>

	<body>
		<%- include ('../../partials/loader.ejs') %>
		<main class="lofidriver">
			<div>
				<a href="/arcade"
					><span class="material-symbols-outlined">arrow_back_ios</span></a
				>
				<h1>Lofi Driver</h1>
			</div>

			<section id="playspace">
				<div id="road"></div>
				<div id="car">
					<img
						src="../../images/lofidriver/yellowcar.png"
						alt="auto"
						id="carimg" />
				</div>
				<div id="rain"></div>
			</section>

			<section id="playmenu">
				<h2>Environment</h2>
				<div class="environments">
					<label>
						<input
							type="radio"
							aria-label="Pick Sunset Cove"
							name="environment"
							value="sunset"
							checked />
						<img src="../images/lofidriver/sunsethills.png" alt="" />
						<div>
							<h3>Sunset Cove</h3>
							<p>Home to the nature- and community enthusiasts.</p>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
					<label>
						<input
							type="radio"
							aria-label="Pick Snow Hills"
							name="environment"
							value="snowy" />
						<img src="../images/lofidriver/snowyhills.png" alt="" />
						<div>
							<h3>Snow Hills</h3>
							<p>Home to winter fanatics and hot chocolate artisans.</p>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
					<label>
						<input
							type="radio"
							aria-label="Pick Star Valley"
							name="environment"
							value="starry" />
						<img src="../images/lofidriver/starryhills.png" alt="" />
						<div>
							<h3>Star Valley</h3>
							<p>Home to the stargazers and astronomy geeks.</p>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
				</div>

				<h2>Vehicle</h2>
				<div class="cars">
					<label>
						<input
							type="radio"
							aria-label="Pick the yellow car"
							name="car"
							value="yellow"
							checked />
						<img src="../images/lofidriver/yellowcar.png" alt="" />
						<div>
							<h3>Yellow</h3>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
					<label>
						<input
							type="radio"
							aria-label="Pick the red car"
							name="car"
							value="red" />
						<img src="../images/lofidriver/redcar.png" alt="" />
						<div>
							<h3>Red</h3>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
					<label>
						<input
							type="radio"
							aria-label="Pick the blue car"
							name="car"
							value="blue" />
						<img src="../images/lofidriver/bluecar.png" alt="" />
						<div>
							<h3>Blue</h3>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
				</div>

				<h2>Nature</h2>
				<div class="enhancers">
					<label>
						<input
							type="checkbox"
							aria-label="Pick the yellow car"
							name="rain"
							value="yellow" />
						<img src="../images/lofidriver/rain.jpg" alt="" />
						<div>
							<h3>Rain</h3>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
					<label>
						<input
							type="checkbox"
							aria-label="Pick the red car"
							name="birds"
							value="red" />
						<img src="../images/lofidriver/birds.png" alt="" />
						<div>
							<h3>Birds</h3>
						</div>
						<span class="material-symbols-outlined">check</span>
					</label>
				</div>

				<h2>Radio</h2>
				<section class="music">
					<div>
						<img src="../images/lofidriver/radio.png" alt="" />
					</div>
					<div>
						<h2 id="songtitle">No song playing</h2>
						<h3 id="songartist">Artist</h3>
						<div class="music-controls">
							<button aria-label="Play or pause song" id="playsong">
								<span class="material-symbols-outlined">play_arrow</span>
							</button>
							<button aria-label="Skip this song" id="nextsong">
								<span class="material-symbols-outlined">skip_next</span>
							</button>
						</div>
					</div>
				</section>
			</section>

			<div class="warning">
				<h2>Sorry, Lofi Driver is currently only available on desktop!</h2>
				<a href="/arcade">Go back to the arcade</a>
			</div>

			<button class="howtotrigger" aria-label="Open how-to window">
				<span class="material-symbols-outlined">question_mark</span>
			</button>

			<section class="howtoplay">
				<div>
					<h2>How to Play</h2>
					<p>Welcome to the drive of your life. Click on the car to start driving and modify your journey via the menu on the side. All functionalities were built by Brianne with vanilla JS and CSS.</p>
					<button class="closetutorial" aria-label="Close how-to window">
						Got it!
					</button>
				</div>
			</section>
		</main>

		<script src="/scripts/darkmode.js"></script>
		<script src="/scripts/loader.js" type="module"></script>
		<script src="/scripts/lofidriver.js"></script>
		<script>
			const howToButton = document.querySelector(".howtotrigger");
			const howToWindow = document.querySelector(".howtoplay");
			const closeHowTo = document.querySelector(".closetutorial");

			if (howToButton) {
				howToButton.addEventListener("click", () => {
					howToWindow.classList.add("activeHowTo");
				});

				closeHowTo.addEventListener("click", () => {
					howToWindow.classList.remove("activeHowTo");
				});
			}
		</script>
	</body>
</html>
