<div class="footer">
	<div class="footer-top">
		<ul>
			<li>Home</li>
			<li>Weekly Nerd</li>
			<li>Goals and plans</li>
			<li>About me</li>
			<li>Portfolio</li>
			<li>Github</li>
			<li>LinkedIn</li>
		</ul>
		<button class="scrollt-to-top" aria-label="Scroll to top of page">
			<span class="material-symbols-outlined"> arrow_upward</span>
		</button>
	</div>

	<div class="footer-bottom">
		<p class="footerText">&copy; Copyright 2023 Brianne de Deugd</p>
	</div>
</div>
