<div class="footer">
	<div class="footer-top">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/weeklynerd">Weekly Nerd</a>
			</li>
			<li>
				<a href="/goalsplans">Goals and plans</a>
			</li>
			<li>
				<a href="/aboutme">About me</a>
			</li>
			<li>
				<a href="https://brianne.nl">Portfolio</a>
			</li>
			<li>
				<a href="https://github.com/briannededeugd">Github</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/brianne-de-deugd-060425296/"
					>LinkedIn</a
				>
			</li>
		</ul>
		<button class="scrollt-to-top" aria-label="Scroll to top of page">
			<span class="material-symbols-outlined"> arrow_upward</span>
		</button>
	</div>

	<div class="footer-bottom">
		<p class="footerText">&copy; Copyright 2023 Brianne de Deugd</p>
	</div>
</div>
