<nav class="header">
	<img
		src="/images/logo.png"
		alt="Black text saying 'Brianne's Web Design and Dev Blog'"
		id="logo" />
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/weeklynerd">Weekly Nerd</a>
		</li>
		<li>
			<a href="/goalsplans">Goals and Plans</a>
		</li>
		<li>
			<a href="/aboutme">About Me</a>
		</li>
	</ul>

	<button aria-label="Switch between light and dark mode" id="modeswitch">
		<div id="modeswitch-indicator"></div>
		<span class="material-symbols-outlined">light_mode</span>
		<span class="material-symbols-outlined">dark_mode</span>
	</button>

	<div class="quick-actions">
		<a href="https://github.com/briannededeugd/wddblog">
			<i
				class="fa fa-brands fa-github fa-lg"
				title="Visit this website's Github page"></i>
		</a>
		<a href="https://www.linkedin.com/in/brianne-de-deugd-060425296/">
			<i
				class="fa fa-brands fa-linkedin fa-lg"
				title="Visit Brianne's LinkedIn"></i>
		</a>
	</div>
</nav>
