<meta charset="UTF-8" />
<meta
	name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta
    http-equiv="Content-Security-Policy"
    content="
        default-src *;
        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
        font-src 'self' https://fonts.gstatic.com;
        img-src 'self' https://*.unsplash.com;
        script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://wddblog.vercel.app;
    " />


<link rel="shortcut icon" href="/images/favicon.ico" />
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- Fonts -->
<link
	href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet" />

<!-- Title -->
<title>Bri's Blog</title>
