<nav class="header">
	<button aria-label="Toggle menu" id="menu-toggle" class="hamburger">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</button>

	<svg
		id="Layer_1"
		data-name="Layer 1"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 468.88 333.82"
		class="small-logo">
		<defs>
			<style>
				.cls-1 {
					fill: #231f20;
					stroke-width: 0px;
				}
			</style>
		</defs>
		<path
			class="cls-1"
			d="M182.89,161.28c11.76,8.72,17.65,19.68,17.65,32.87,0,14-4.26,25.92-12.78,35.76-8.52,9.84-20.34,17.3-35.45,22.37-15.12,5.07-32.41,7.61-51.89,7.61l-17.65-.3c-12.58-.4-24.45-.61-35.6-.61-20.49,0-36.21.3-47.17.91l1.22-6.09c7.3-.4,12.78-1.22,16.43-2.43,3.65-1.22,6.54-3.55,8.67-7,2.13-3.45,4.21-9.03,6.24-16.74l40.17-150.94c1.62-6.49,2.43-11.36,2.43-14.61,0-3.85-1.47-6.7-4.41-8.52-2.94-1.83-8.27-2.84-15.98-3.04l1.52-6.09c10.75.61,26.17.91,46.26.91l25.87-.3c4.26-.2,10.45-.3,18.56-.3,22.72,0,39.56,3.5,50.52,10.5,10.96,7,16.43,16.89,16.43,29.67,0,10.55-3.4,20.24-10.19,29.06-6.8,8.83-16.39,16.08-28.76,21.76-12.38,5.68-26.68,9.33-42.91,10.96,22.11,1.02,39.05,5.89,50.82,14.61ZM123.85,244.36c8.52-5.68,14.96-13.39,19.32-23.13,4.36-9.74,6.54-20.59,6.54-32.56s-2.79-20.79-8.37-27.69c-5.58-6.89-14.46-10.35-26.63-10.35h-13.39l-20.39,76.99c-1.63,6.9-2.43,11.46-2.43,13.69,0,3.86,1.11,6.75,3.35,8.67,2.23,1.93,5.98,2.89,11.26,2.89,11.97,0,22.21-2.84,30.74-8.52ZM129.48,54.77c-2.74,2.84-5.23,8.62-7.46,17.35l-19.48,73.34h10.65c10.96,0,20.44-3.04,28.45-9.13,8.01-6.09,14.1-14.15,18.26-24.19,4.16-10.04,6.24-20.74,6.24-32.1,0-9.53-1.78-16.84-5.33-21.91-3.55-5.07-9.59-7.61-18.11-7.61-6.09,0-10.5,1.42-13.24,4.26Z" />
		<g>
			<path
				class="cls-1"
				d="M213.14,155.08h-4.68l-27.84-85.85h3.9l26.28,82.6,24.2-82.6h4.42l24.07,82.73,26.28-82.73h3.77l-27.71,85.85h-4.68l-18.73-63.48-5.2-18.08h-.13l-5.07,18.08-18.86,63.48Z" />
			<path
				class="cls-1"
				d="M375.22,111.11c0,28.75-14.83,43.97-42.41,43.97h-26.67v-85.85h26.67c27.58,0,42.41,14.44,42.41,41.89ZM371.45,111.11c0-25.11-13.4-38.63-38.5-38.63h-23.15v79.35h23.15c25.11,0,38.5-14.18,38.5-40.72Z" />
			<path
				class="cls-1"
				d="M461.2,111.11c0,28.75-14.83,43.97-42.41,43.97h-26.67v-85.85h26.67c27.58,0,42.41,14.44,42.41,41.89ZM457.43,111.11c0-25.11-13.4-38.63-38.5-38.63h-23.15v79.35h23.15c25.11,0,38.5-14.18,38.5-40.72Z" />
			<path
				class="cls-1"
				d="M190.51,158.42h30.18c17.95,0,26.93,7.67,26.93,22.11,0,10.67-5.59,17.95-16.65,20.29v.13c11.84,1.69,18.99,9.24,18.99,20.94,0,14.44-10.15,22.37-29.27,22.37h-30.18v-85.85ZM220.69,199.27c15.22,0,23.15-6.24,23.15-18.6s-7.93-18.99-23.15-18.99h-26.54v37.59h26.54ZM221.21,241.03c16.52,0,24.98-6.63,24.98-19.25s-8.46-19.12-24.98-19.12h-27.06v38.37h27.06Z" />
			<path
				class="cls-1"
				d="M315.34,241.03v3.25h-56.84v-85.85h3.64v82.6h53.2Z" />
			<path
				class="cls-1"
				d="M384.5,201.35c0,27.19-15.09,44.23-39.28,44.23s-39.28-17.04-39.28-44.23,15.22-44.23,39.28-44.23,39.28,17.04,39.28,44.23ZM309.7,201.35c0,25.24,13.66,40.98,35.51,40.98s35.51-15.74,35.51-40.98-13.66-40.98-35.51-40.98-35.51,15.74-35.51,40.98Z" />
			<path
				class="cls-1"
				d="M460.03,203.3v40.98h-3.25l-.13-17.95c-4.03,11.84-14.7,19.25-31.35,19.25-23.02,0-37.98-17.04-37.98-44.23s15.35-44.23,38.5-44.23c17.95,0,28.75,7.29,33.56,22.11l-3.25,1.69c-4.29-13.66-14.31-20.55-30.31-20.55-20.81,0-34.73,15.74-34.73,40.98s13.27,40.98,34.34,40.98c23.8,0,31.09-17.56,31.09-29.53v-6.24h-30.57v-3.25h34.08Z" />
		</g>
	</svg>

	<section>
		<svg
			id="Layer_1"
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 390.5 115.99"
			class="big-logo">
			<defs>
				<style>
					.cls-1 {
						font-family: WorkSans-Light, "Work Sans";
						font-size: 30.67px;
						font-weight: 300;
					}

					.cls-1,
					.cls-2 {
						fill: #231f20;
					}

					.cls-3 {
						letter-spacing: -0.02em;
					}

					.cls-4 {
						letter-spacing: 0em;
					}

					.cls-2 {
						font-family: PlayfairDisplay-BoldItalic, "Playfair Display";
						font-size: 88.32px;
						font-style: italic;
						font-weight: 700;
					}

					.cls-5 {
						letter-spacing: 0.03em;
					}

					.cls-6 {
						letter-spacing: 0em;
					}

					.cls-7 {
						letter-spacing: 0.03em;
					}
				</style>
			</defs>
			<text class="cls-2" transform="translate(4 75.42)">
				<tspan x="0" y="0">Brianne</tspan>
				<tspan class="cls-3" x="327.13" y="0">’</tspan>
				<tspan x="349.12" y="0">s</tspan>
			</text>
			<text class="cls-1" transform="translate(0 105.77)">
				<tspan class="cls-5" x="0" y="0">WEB DESIGN &amp; DEV</tspan>
				<!-- <tspan class="cls-7" x="297.52" y="0" xml:space="preserve">B</tspan> -->
				<tspan class="cls-4" x="312.50" y="0">BL</tspan>
				<tspan class="cls-5" x="345.61" y="0">OG</tspan>
			</text>
		</svg>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/weeklynerd">Weekly Nerd</a>
			</li>
			<li>
				<a href="/goalsplans">Goals and Plans</a>
			</li>
			<li>
				<a href="/aboutme">About Me</a>
			</li>
		</ul>

		<div class="sitecontrols">
			<label id="reducedmotion">
				<span class="material-symbols-outlined"> do_not_step </span>
				<input
					type="checkbox"
					name="animationstransitions"
					id="partypooper"
					aria-label="Disable animations and transitions" />
			</label>

			<button aria-label="Switch between light and dark mode" id="modeswitch">
				<div id="modeswitch-indicator"></div>
				<span class="material-symbols-outlined lightmode">light_mode</span>
				<span class="material-symbols-outlined darkmode">dark_mode</span>
			</button>

			<div class="quick-actions">
				<a href="https://github.com/briannededeugd/wddblog">
					<i
						class="fa fa-brands fa-github fa-lg"
						title="Visit this website's Github page"></i>
				</a>
				<a href="https://www.linkedin.com/in/brianne-de-deugd-060425296/">
					<i
						class="fa fa-brands fa-linkedin fa-lg"
						title="Visit Brianne's LinkedIn"></i>
				</a>
			</div>
		</div>
	</section>
</nav>
