<nav class="header">
	<img
		src="/images/logo.png"
		alt="Black text saying 'Brianne's Web Design and Dev Blog'"
		id="logo" />
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="Weekly Nerd">Weekly Nerd</a>
		</li>
		<li>
			<a href="">Goals and plans</a>
		</li>
		<li>
			<a href="">Contact</a>
		</li>
	</ul>
	<div class="quick-actions">
		<a href="https://github.com/briannededeugd/wddblog">
			<i
				class="fa fa-brands fa-github fa-lg"
				title="Visit this website's Github page"></i>
		</a>
		<a href="https://brianne.nl/">
			<i
				class="fa fa-brands fa-linkedin fa-lg"
				title="Visit Brianne's LinkedIn"></i>
		</a>
	</div>
</nav>
