<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('partials/header.ejs'); %></header>
		<main>
			<section class="introduction">
				<h1>
					<span>I&#8217;m</span><br />
					<span>Brianne</span>
				</h1>
				<h2>
					<span>Blog / personal site</span>
				</h2>
				<h3>
					I make stuff
					<span aria-hidden="true">
						<i class="material-symbols-outlined">arrow_forward</i>
						<img src="../images/gr-4.jpg" alt="" />
					</span>
					(<em>happen</em>)
				</h3>

				<p>
					And I have plans. For one, I plan to become a great creative frontend
					developer. I want to unleash my creativity and be able to actually
					realise what I dream up - no matter how big the dream or how crazy the
					idea. Accompany me on my journey by hearing all about the
					<em>Weekly Nerds</em> I attend, the leaps I take and the lessons I
					learn.
				</p>

				<p>
					<span>
						<span id="currentdate">Hello</span> |
						<span id="currenttime">Hi</span>
					</span>
				</p>

				<button
					aria-label="Scroll down to the content"
					id="scrolldowntocontent">
					Continue to content
				</button>
			</section>

			<section class="goals" id="goals"></section>

			<section class="quotesection">
				<blockquote></blockquote>
			</section>

			<section class="blogs"></section>

			<section class="pre-footer">
				<h2>Where do we go from here?</h2>
				<p>You've got the entire world (this website) at your feet (cursor).</p>

				<ul>
					<a href="/">
						<li>
							<p>Discover what drives me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="aboutme">
						<li>
							<p>Learn who I am</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/section.js"></script>
	</body>
</html>
