<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('partials/header.ejs'); %></header>
		<main>
			<section class="introduction">
				<section class="about-me">
					<h1>
						My name is <span class="name">Brianne</span>, and I have plans.
					</h1>
					<p class="bio">
						For one, I plan to become a great creative frontend developer. I
						want to unleash my creativity, and also be able to actually realise
						what I dream up - no matter how big the dream or how crazy the idea.
						On this blog, you'll accompany me on my journey by hearing all about
						the Weekly Nerds I attend, the leaps I take and the lessons I learn!
					</p>

					<h2>More about</h2>
					<div class="littlelinks">
						<a href="/weeklynerd">Weekly Nerd</a>
						<a href="#">Brianne</a>
					</div>
				</section>

				<section class="recent-weeklynerds">
					<ul class="accordion">
						<li class="item">
							<h3>Kilian Valkhof</h3>
							<p>On the (near) future of code capabilities.</p>
							<a href="/posts/kilianvalkhof" class="readblog">Read this blog</a>
						</li>
						<li class="item">
							<h3>Fenna de Wilde</h3>
							<p>On accessibility in code and creative web design.</p>
							<a href="/posts/fennadewilde" class="readblog">Read this blog</a>
						</li>
					</ul>
				</section>
			</section>

			<section class="goals">
				<h2>Goals and plans</h2>
				<p>
					Everything I wish to learn and achieve by the end of the Web Design &
					Development minor.
				</p>
				<ul>
					<a href="/">
						<li>
							<p>Intuitively write CSS</p>
							<p>Intuitively write CSS</p>
						</li>
						<div class="notch"></div>
						<div class="round-button">
							<span class="material-symbols-outlined"> arrow_forward </span>
						</div>
					</a>

					<a href="/">
						<li>
							<p>Create fully accessible websites by default</p>
							<p>Create fully accessible websites by default</p>
						</li>
						<div class="notch"></div>
						<div class="round-button">
							<span class="material-symbols-outlined"> arrow_forward </span>
						</div>
					</a>

					<a href="/">
						<li>
							<p>
								(Know how to) utilize transitions and animations to enhance the
								UX
							</p>
							<p>
								(Know how to) utilize transitions and animations to enhance the
								UX
							</p>
						</li>
						<div class="notch"></div>
						<div class="round-button">
							<span class="material-symbols-outlined"> arrow_forward </span>
						</div>
					</a>

					<a href="/">
						<li>
							<p>Become a master at responsive coding</p>
							<p>Become a master at responsive coding</p>
						</li>
						<div class="notch"></div>
						<div class="round-button">
							<span class="material-symbols-outlined"> arrow_forward </span>
						</div>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('partials/footer.ejs'); %></footer>
		<script src="/scripts/scripts.js"></script>
	</body>
</html>
