<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('partials/header.ejs'); %></header>
		<main>
			<section class="introduction">
				<section class="about-me">
					<h1>My name is Brianne, and I have plans.</h1>
					<p class="bio">
						For one, I plan to become a great creative frontend developer. I
						want to unleash my creativity, and also be able to actually realise
						what I dream up - no matter how big the dream or how crazy the idea.
						On this blog, you'll accompany me on my journey by hearing all about
						the Weekly Nerds I attend, the leaps I take and the lessons I learn!
					</p>

					<h2>More about</h2>
					<div class="littlelinks">
						<a href="#">The Weekly Nerd</a>
						<a href="#">Brianne</a>
					</div>
				</section>

				<section class="recent-weeklynerds">
					<ul class="accordion">
						<li class="item">
							<h3>Kilian Valkhof</h3>
							<p>On the (near) future of code capabilities.</p>
							<a href="/kilianvalkhof" class="readblog">Read this blog</a>
						</li>
						<li class="item">
							<h3>Fenna de Wilde</h3>
							<p>On accessibility in code and creative web design.</p>
							<a href="/test.ejs" class="readblog">Read this blog</a>
						</li>
					</ul>
				</section>
			</section>

			<section class="goals">
				<ul>
					<li>goal</li>
					<li>goal</li>
					<li>goal</li>
					<li>goal</li>
					<li>goal</li>
					<li>goal</li>
				</ul>
			</section>
		</main>
		<footer><%- include ('partials/footer.ejs'); %></footer>
		<script src="/scripts/scripts.js"></script>
	</body>
</html>
