<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/aboutme">About Me</a>
			</div>

			<section class="regularcontent aboutme">
				<section>
					<h1>About Me</h1>
					<p>
						Are you looking at this blog and thinking, <em>okay, but who</em> is
						<em>she?</em> This page answers that exact question, offering you a
						glance into my <strong>head</strong> as a person, student and
						developer, including the part of my brain that was very focused on
						this site in particular and the <strong>heart</strong> that's in
						every single element.<br />
						<br />
						To start off, hey! My name is Brianne, I'm 21 years old and grew up
						loving anything artsy. My very first 'work of art' (that wasn't a
						stick-figure drawing) was a story I wrote when I was seven years
						old. It was about a girl who went on a boat trip with her parents
						and little sister, and the boat capsizing because of two enormous
						waves. Unsurprisingly, I called this story
						<strong>The Waves</strong> and specified that it was for all ages
						from seven and upwards, in protest of my school's library eight-plus
						books. (Seven-year-olds could keep up with those books perfectly
						well, I was living proof!)<br />
						<br />
						But sticking with fictional stories was boring. Throughout my life,
						I've been constantly searching for more ways and mediums to express
						my creativity, but none were quite as fulfilling as
						<strong>web design & development</strong> was when I first became
						accquainted with it in my first year of college. Now, I'm proud to
						say that my web dev journey is in its prime, and things are only
						looking up!
					</p>
				</section>

				<section class="rotation">
					<section class="avatar">
						<div></div>
						<div></div>
					</section>

					<h3>The head?</h3>
					<h3>Or the heart?</h3>
					<div class="cursoranimation"></div>
				</section>
			</section>

			<section class="pre-footer">
				<h2>Still can't get enough after all that?</h2>
				<p>Ummmm, okay.</p>

				<ul>
					<a href="aboutme">
						<li>
							<p>Learn more about me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
	</body>
</html>
