<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<%- include ('../partials/loader.ejs') %>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/aboutme">About Me</a>
			</div>

			<section class="regularcontent aboutme">
				<section>
					<h1>About Me</h1>
					<p>
						Are you looking at this blog and thinking, <em>okay, but who</em> is
						<em>she?</em> This page answers that exact question, offering you a
						glance into my <strong>head</strong> as a person, student and
						developer (including the part of my brain that was very focused on
						this site in particular) and the <strong>heart</strong> that's in
						every single element.<br />
						<br />
						To start off, hey! My name is Brianne, I'm 21 years old and grew up
						loving anything artsy. My very first 'work of art' (that wasn't a
						stick-figure drawing) was a story I wrote when I was seven years old
						about a boat capsizing because of two enormous waves.
						Unsurprisingly, I called this story
						<strong>The Waves</strong> and specified that it was for all ages
						from seven and upwards, in protest of my school library's eight-plus
						books that I wasn't allowed to read.<br />
						<br />
						But sticking with fictional stories was boring. I've been constantly
						searching for more ways and mediums to express my creativity, but
						none were quite as fulfilling as
						<strong>web design & development</strong> turned out to be when I
						first became accquainted with it in my first year of college. Now,
						I'm proud to say that my web dev journey is in its prime, and things
						are only looking up!
					</p>
				</section>

				<section class="rotation">
					<section class="avatar">
						<div></div>
						<div></div>
					</section>

					<h3>The head?</h3>
					<h3>Or the heart?</h3>
					<div class="cursoranimation"></div>
				</section>
			</section>

			<section class="passionsinterests bg-img">
				<section class="passions">
					<h2>
						<span>Passions</span>
						<span aria-hidden="true">Interests</span>
					</h2>

					<section>
						<p>
							I derive the most <em>joy</em> and <em>satisfaction</em> from
							creating things from scratch. Give me nothing to turn into
							something.
						</p>
						<p>
							I love creating things with my hands (or a mouse) and starting
							from a blank canvas. Websites, stories, drawings, figma designs
							that will never see the world wide web - I can never
							<em>not</em> create.
						</p>
					</section>
				</section>
				<section class="interests">
					<h2>
						<span aria-hidden="true">Passions</span>
						<span>Interests</span>
					</h2>

					<p>
						<span>Music.</span><span>Arts (any).</span
						><span class="material-symbols-outlined" aria-hidden="true"
							>self_improvement</span
						><span>Editorial photography.</span>
					</p>

					<ul>
						<li><em>You can usually find me</em></li>
						<li>Mixing my different interests.</li>
						<li>
							Browsing Pinterest for inspiration (on any aspect of my life).
						</li>
						<li>Consuming the same media over and over again.</li>
					</ul>
				</section>
			</section>

			<section class="traits">
				<ul>
					<li>Adaptable</li>
					<li>Curious</li>
					<li>Perceptive</li>
					<li>Resourceful</li>
				</ul>
			</section>

			<section class="pathway">
				<h2>
					What have <em aria-hidden="true">you</em> <span>I</span> been up to?
				</h2>

				<div>
					<h3>Blok Tech</h3>
					<p>
						My first taste of <em>real</em> web dev was 'blok tech', a
						quarter-year of pure backend and frontend, where I learned to use
						NodeJS, Express, EJS, MongoDB and more in eight weeks and absolutely
						loved what I could do with it. I still use these skills today.
					</p>
				</div>

				<div>
					<h3>International Internship</h3>
					<p>
						I spent three months in Indonesia to develop a website for a
						non-profit. Though this didn't involve coding, I was able to refine
						my design, research, multidisciplinary collaboration and English
						skills in a beautiful country across the planet.
					</p>
				</div>

				<div>
					<h3>Information Design</h3>
					<p>
						My newfound Svelte, D3 and information design skills earned me a
						feature at the international 2023 Information Design Conference, and
						my app for the Naturalis Biodiversity Center that I did at the end
						of the minor got me a summer job offer!
					</p>
				</div>

				<div>
					<h3>Web Developer</h3>
					<p>
						As I now work on finishing my Web Design & Development minor (hoping
						to upkeep my honors status), my biggest hope is to find a creative
						and fulfilling internship and create an engaging, extremely 'me',
						fun graduation project.
					</p>
				</div>

				<span>The head</span>
				<span>The heart</span>
			</section>

			<section class="inconclusion">
				<div>
					<h2>So, who is she?</h2>

					<a href="https://github.com/briannededeugd/">Find me on Github</a>
					<a href="https://www.linkedin.com/in/brianne-de-deugd-060425296/"
						>Or can I offer you my LinkedIn?</a
					>
				</div>

				<div>
					<p>
						Though my path in web development was not my <em>original</em> plan,
						I call it a pleasant surprise. I still like design, but now I get to
						actually apply it and make my wildest dreams come true! Isn't that
						the coolest thing ever?
					</p>
				</div>
			</section>

			<section class="pre-footer">
				<h2>Ready to dive into the blog?</h2>
				<p>Discover what other things I have to tell you.</p>

				<ul>
					<a href="goalsplans">
						<li>
							<p>Learn all about my goals and plans this semester</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/darkmode.js"></script>
	</body>
</html>
