<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
		<link rel="stylesheet" href="/styles/arcade.css" />
	</head>

	<body>
		<%- include ('../partials/loader.ejs') %>
		<header><%- include ('../partials/header.ejs'); %></header>

		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/arcade">Arcade</a>
			</div>

			<section class="regularcontent">
				<section class="herocontent">
					<h1>Arcade</h1>
					<p>Play some games to get to know this blog, me or you!</p>
				</section>
			</section>

			<section class="gamesgrid">
				<section class="game memory">
					<div></div>
					<div>
						<h2>Memory</h2>
						<p>
							Can you find all matches and find something to read in the
							meantime?
						</p>
						<a href="/arcade/memory" aria-label="Play this game">Play!</a>
					</div>
				</section>

				<section class="game lofidriver">
					<div></div>
					<div>
						<h2>Lofi Driver</h2>
						<p>Go on your perfect drive and customize it to your wishes.</p>
						<a href="/arcade/lofidriver" aria-label="Play this game">Play!</a>
					</div>
				</section>

				<section class="game rocketescape">
					<div></div>
					<div>
						<h2>Rocket Escape</h2>
						<p>
							Cross the dangerous ocean to bring Bri to safety, and don't get
							hit!
						</p>
						<a href="/arcade/rocketescape" aria-label="Play this game">Play!</a>
					</div>
				</section>
			</section>

			<section class="pre-footer">
				<h2>Done playing?</h2>
				<p>Here are some directions.</p>

				<ul>
					<a href="aboutme">
						<li>
							<p>Learn all about me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="goalsplans">
						<li>
							<p>Discover my goals and plans</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>

		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/darkmode.js"></script>
	</body>
</html>
