<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
		<link rel="stylesheet" href="/styles/arcade.css" />
	</head>

	<body>
		<%- include ('../partials/loader.ejs') %>
		<header><%- include ('../partials/header.ejs'); %></header>

		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/arcade">Arcade</a>
			</div>

			<section class="regularcontent">
				<section class="herocontent">
					<h1>Arcade</h1>
					<p>If you ask me, games are very important. They help us blow off steam, relax (or get very frustrated at a mere screen), connect with others and/or develop our
						concentration spans, reaction times or knowledge. I grew up in the 2000's, which means that I grew up with classics like the <strong>Nintendo DS</strong>,
						<strong>Wii</strong> and <strong>Gameboy</strong> - but I also spent plenty of time in the early 10's playing web games like <strong>Moviestarplanet</strong>,
						<strong>Habbo</strong>, <strong>Barbie.com</strong>, <strong>My Scene</strong> and <strong>Polly Pocket</strong>!<br/>
						<br/>
						Since all of these games is where my love for the web began, it seemed fitting to make my own little web arcade with vanilla JS and CSS games.
					</p>
				</section>
				<section>
					<p>As said by <cite>Billie Eilish</cite>...</p>
					<div>
						<blockquote>
							<p>Come out...</p>
						</blockquote>
						<blockquote>
							<p>And <em>play!</em></p>
						</blockquote>
					</div>
				</section>
			</section>

			<section class="gamesgrid">
				<section class="game memory">
					<div></div>
					<div>
						<h2>Memory</h2>
						<p>
							Can you find all matches and find something to read in the
							meantime?
						</p>
						<a href="/arcade/memory" aria-label="Play this game">Play!</a>
					</div>
				</section>

				<section class="game lofidriver">
					<div></div>
					<div>
						<h2>Lofi Driver</h2>
						<p>Go on your perfect drive and customize it to your wishes.</p>
						<a href="/arcade/lofidriver" aria-label="Play this game">Play!</a>
					</div>
				</section>

				<section class="game rocketescape">
					<div></div>
					<div>
						<h2>Bri&#8217s Flight Frenzy</h2>
						<p>
							Bri is new to flying. Help her avoid clouds, planes and birds as
							she soars!
						</p>
						<a href="/arcade/rocketescape" aria-label="Play this game">Play!</a>
					</div>
				</section>
			</section>

			<section class="pre-footer">
				<h2>Done playing?</h2>
				<p>Here are some directions.</p>

				<ul>
					<a href="aboutme">
						<li>
							<p>Learn all about me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="goalsplans">
						<li>
							<p>Discover my goals and plans</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>

		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/darkmode.js"></script>
	</body>
</html>
