<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/<a href="/">Weekly Nerd</a><a href='/'>Fenna de Wilde</a></p>
			</div>

			<section class="maincontent">
				<article class="blog">
					<%- blogContent %>
				</article>
				<article class="reflection">
                    <h2 class='reflectheading'>My use, opinions and ideas</h2>
                    <section id="stats">
                        <ul>
                        <li>
                            How likely I am to use this in the future:
                        </li>
                    </ul>
                    </section>
                    <section id='opinions'>
                        <h3>Opinions</h3>
                        <p>According to all known laws of aviation, there is no way a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway because bees don't care what humans think is impossible.</p>
                    </section>
                    <section id='integration'>
                        <h3>Integration</h3>
                        <p>So sorry you have brainrot. Mine is growing new leaves, flowers, et cetera.</p>
                    </section>
				</article>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scripts.js"></script>
	</body>
</html>
