<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/goalsplans">Goals and Plans</a>
			</div>

			<section class="regularcontent">
				<section class="herocontent">
					<section>
						<h1>Goals & Plans</h1>
						<p>
							Before any meaningful project you take on, the goals you set up
							for yourself carry great importance. They can help you recognize
							your successes, find direction and keep your eyes on the goal,
							ultimately aiding in the development of a successful product.<br />

							<br />
							During the web design and development minor, defining our goals
							wasn't just a way for lecturers to track our process, but it was
							also a requirement, aiming to teach us that all we did served as a
							tool to help us grow as developers. On this page, my goals and
							plans are defined in detail.
						</p>
					</section>

					<section>
						<h3>Continue to</h3>
						<a href="#runner">My goals and plans</a>
						<a href="/aboutme">More about me</a>
					</section>
				</section>

				<section class="banner">
					<h2>Goal /ɡəʊl/</h2>
					<p>
						the object of a person's ambition or effort; an aim or desired
						result
					</p>

					<div>
						<span class="material-symbols-outlined">favorite</span>
					</div>
				</section>

				<section class="explanation">
					<section class="messages">
						<div>
							<p class="received">What is it you want?</p>
						</div>

						<div>
							<p class="sent">What do you want to learn?</p>
						</div>

						<div>
							<p class="received">Where do you want to be?</p>
						</div>
					</section>

					<section class="notif">
						<span>1</span><span></span><span>new message</span>
					</section>

					<div>
						<p>
							“If anyone at my funeral says 'it's what he would have wanted',
							I'll kick the lid off my coffin and throttle them. Or, if I've
							been cremated, I'll flip the lid off the urn and become a dust
							storm in their eyes. Only you know what you truly want. Anything
							else is presumption skewed through personal agendas.”<br />
							― Stewart Stafford
						</p>
					</div>
					<div class="topnotch"></div>
				</section>
			</section>

			<section class="runners">
				<section class="runner">
					<ul>
						<li><em>The ultimate me is or has:</em></li>
						<li>Great at intuitive CSS</li>
						<li>A master of animations and transitions</li>
						<li>
							A knack for organic shapes and fitting elements together like
							puzzle pieces
						</li>
						<li>Good at drawing the eye in a logical manner</li>
						<li>A storyteller in her works</li>

						<li><em>The ultimate me is or has:</em></li>
						<li>Great at intuitive CSS</li>
						<li>A master of animations and transitions</li>
						<li>
							A knack for organic shapes and fitting elements together like
							puzzle pieces
						</li>
						<li>Good at drawing the eye in a logical manner</li>
						<li>A storyteller in her works</li>
					</ul>
				</section>
				<section class="runner" id="runner">
					<ul>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
					</ul>
				</section>
			</section>

			<section class="goalsandplans">
				<section id="css">
					<h2>
						Intuitively write CSS <span>✴</span> become a <span>master</span> at
						responsive coding
					</h2>

					<div>
						<span class="material-symbols-outlined">arrow_downward</span>
						<span></span>
						<span class="material-symbols-outlined">adjust</span>
					</div>

					<section>
						<section class="theplan">
							<p>
								The amount of times I rely on search engines for questions like
								<em>how do I vertically align an element in a section?</em> is
								frankly embarrassing. I'm in perpetual awe of those who these
								things "just" come to, for whom each of their works is a
								testament to the practice and experience they have under their
								belt.
							</p>

							<p>
								Devoting my time to this very goal during this minor was an
								incredible opportunity I had to take with both hands. This goal
								is all about making logical choices to write compact, intuitive
								and effortless code. I want to make visually appealing sites
								that make sense.
							</p>
						</section>

						<section class="measurements">
							<section>
								<span class="material-symbols-outlined">responsive_layout</span>
								<p>
									The product is responsive and works on desktop as well as
									phone screens.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">family_history</span>
								<p>
									The CSS is properly nested and the HTML is semantically
									correct.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">devices</span>
								<p>
									There's a relevant difference in the desktop + phone versions
									(e.g. a hamburger menu).
								</p>
							</section>
						</section>
					</section>
				</section>

				<section id="animationstransitions">
					<h2>
						Utilize transitions and <span>☻</span> animations to enhance the
						<span>UX</span>
					</h2>

					<section>
						<section class="theplan">
							<p>
								One personal preference of mine is that I <em>love</em> motion.
								Microinteractions, page transitions, automatic scrolls, or even
								merely a rotation icon or 'wavey' border-radius - it all
								contributes to the look and feel of an application or site, and
								it's a contribution I want to learn how to make.
							</p>

							<p>
								This goal is about learning to apply transitions and animations
								at the right time to offer valuable feedback to the user,
								emphasize certain elements or actions or simply give a website
								more of an organic feel. I believe an important aspect of this
								is finding the balance between enhancement and overdoing it,
								which I'm excited to explore.
							</p>
						</section>

						<section class="measurements">
							<section>
								<span class="material-symbols-outlined">animation</span>
								<p>
									Important actions are emphasized with fitting
									microinteractions.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">animated_images</span>
								<p>
									I've used at least one new animation method (GSAP, CSS
									animation underscored with animation-delays, etc.).
								</p>
							</section>
						</section>
					</section>
				</section>

				<section id="setcriteria">
					<h2>
						Set clear milestones <span>♥︎</span> and success
						<span>criteria</span>
					</h2>

					<section>
						<section class="theplan">
							<p>
								This full-length goal actually says:
								<em
									>'Set clear project milestones and success criteria that
									prioritize quality, efficiency, and team well-being over
									excessive effort.'</em
								>
								and is inspired by my toxic tendency to never be satisfied with
								what I make. If I'm not completely exhausted by the end of a
								project, I tend to tell myself that it's a sign that I haven't
								worked hard enough, and in turn I'm unable to be proud of what I
								made.
							</p>

							<p>
								This goal is more of a personal goal, in that sense. I want to
								define tangible goals and milestones that I can reach and
								reflect on, so that what I manage to do is never considered the
								'bare minimum', but rather a testament to the growing I've done
								as a developer.
							</p>
						</section>

						<section class="measurements">
							<section>
								<span class="material-symbols-outlined">mountain_flag</span>
								<p>
									Define personal project milestones prior to or at the start of
									the project.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">gavel</span>
								<p>
									Discuss success criteria with my teammates to reflect on after
									project completion.
								</p>
							</section>
						</section>
					</section>
				</section>

				<button aria-label="Scroll to next section" id="nextsection">
					<span class="material-symbols-outlined">arrow_downward</span>
				</button>
			</section>

			<section class="pre-footer">
				<h2>Still can't get enough after all that?</h2>
				<p>Ummmm, okay.</p>

				<ul>
					<a href="aboutme">
						<li>
							<p>Learn more about me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script type="module" src="/scripts/section.js"></script>
	</body>
</html>
