<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<%- include ('../partials/loader.ejs') %>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/goalsplans">Goals and Plans</a>
			</div>

			<section class="regularcontent">
				<section class="herocontent">
					<section>
						<h1>Goals & Plans</h1>
						<p>
							Before any meaningful project you take on, the goals you set up
							for yourself carry great importance. They can help you recognize
							your successes, find direction and keep your eyes on the goal,
							ultimately aiding in the development of a successful product.<br />

							<br />
							During the web design and development minor, defining our goals
							wasn't just a way for lecturers to track our process, but it was
							also a requirement, aiming to teach us that all we did served as a
							tool to help us grow as developers. On this page, my goals and
							plans are defined in detail.
						</p>
					</section>

					<section>
						<h3>Continue to</h3>
						<a href="#runner">My goals and plans</a>
						<a href="#inreflection">In reflection</a>
					</section>
				</section>

				<section class="banner">
					<h2>Goal /ɡəʊl/</h2>
					<p>
						the object of a person's ambition or effort; an aim or desired
						result
					</p>

					<div>
						<span class="material-symbols-outlined">favorite</span>
					</div>
				</section>

				<section class="explanation">
					<section class="messages">
						<div>
							<p class="received">What is it you want?</p>
						</div>

						<div>
							<p class="sent">What do you want to learn?</p>
						</div>

						<div>
							<p class="received">Where do you want to be?</p>
						</div>
					</section>

					<section class="notif">
						<span>1</span><span></span><span>new message</span>
					</section>

					<div>
						<p>
							“If anyone at my funeral says 'it's what he would have wanted',
							I'll kick the lid off my coffin and throttle them. Or, if I've
							been cremated, I'll flip the lid off the urn and become a dust
							storm in their eyes. Only you know what you truly want. Anything
							else is presumption skewed through personal agendas.”<br />
							― Stewart Stafford
						</p>
					</div>
					<div class="topnotch"></div>
				</section>
			</section>

			<section class="runners">
				<section class="runner">
					<ul>
						<li><em>The ultimate me is or has:</em></li>
						<li>Great at intuitive CSS</li>
						<li>A master of animations and transitions</li>
						<li>
							A knack for organic shapes and fitting elements together like
							puzzle pieces
						</li>
						<li>Good at drawing the eye in a logical manner</li>
						<li>A storyteller in her works</li>

						<li><em>The ultimate me is or has:</em></li>
						<li>Great at intuitive CSS</li>
						<li>A master of animations and transitions</li>
						<li>
							A knack for organic shapes and fitting elements together like
							puzzle pieces
						</li>
						<li>Good at drawing the eye in a logical manner</li>
						<li>A storyteller in her works</li>
					</ul>
				</section>
				<section class="runner" id="runner">
					<ul>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>

						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
						<li>My goals</li>
					</ul>
				</section>
			</section>

			<section class="goalsandplans" id="goalsplans">
				<section id="css">
					<h2>
						Intuitively write CSS <span>✴</span> become a <span>master</span> at
						responsive coding
					</h2>

					<div>
						<span class="material-symbols-outlined">arrow_downward</span>
						<span></span>
						<span>•</span>
					</div>

					<section>
						<section class="theplan">
							<p>
								The amount of times I rely on search engines for questions like
								<em>how do I vertically align an element in a section?</em> is
								frankly embarrassing. I'm in perpetual awe of those who these
								things "just" come to, for whom each of their works is a
								testament to the practice and experience they have under their
								belt.
							</p>

							<p>
								Devoting my time to this very goal during this minor was an
								incredible opportunity I had to take with both hands. This goal
								is all about making logical choices to write compact, intuitive
								and effortless code. I want to make visually appealing sites
								that make sense.
							</p>
						</section>

						<section class="measurements">
							<section>
								<span class="material-symbols-outlined">responsive_layout</span>
								<p>
									The product is responsive and works on desktop as well as
									phone screens.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">family_history</span>
								<p>
									The CSS is properly nested and the HTML is semantically
									correct.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">devices</span>
								<p>
									There's a relevant difference in the desktop + phone versions
									(e.g. a hamburger menu).
								</p>
							</section>
						</section>
					</section>
				</section>

				<section id="animationstransitions">
					<h2>
						Utilize transitions and <span>☻</span> animations to enhance the
						<span>UX</span>
					</h2>

					<section>
						<section class="theplan">
							<p>
								One personal preference of mine is that I <em>love</em> motion.
								Microinteractions, page transitions, automatic scrolls, or even
								merely a rotation icon or 'wavey' border-radius - it all
								contributes to the look and feel of an application or site, and
								it's a contribution I want to learn how to make.
							</p>

							<p>
								This goal is about learning to apply transitions and animations
								at the right time to offer valuable feedback to the user,
								emphasize certain elements or actions or simply give a website
								more of an organic feel. I believe an important aspect of this
								is finding the balance between enhancement and overdoing it,
								which I'm excited to explore.
							</p>
						</section>

						<section class="measurements">
							<section>
								<span class="material-symbols-outlined">animation</span>
								<p>
									Important actions are emphasized with fitting
									microinteractions.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">animated_images</span>
								<p>
									I've used at least one new animation method (GSAP, CSS
									animation underscored with animation-delays, etc.).
								</p>
							</section>
						</section>
					</section>
				</section>

				<section id="setcriteria">
					<h2>
						Set clear milestones <span>♥︎</span> and success
						<span>criteria</span>
					</h2>

					<section>
						<section class="theplan">
							<p>
								This full-length goal actually says:
								<em
									>'Set clear project milestones and success criteria that
									prioritize quality, efficiency, and team well-being over
									excessive effort.'</em
								>
								and is inspired by my toxic tendency to never be satisfied with
								what I make. If I'm not completely exhausted by the end of a
								project, I tend to tell myself that it's a sign that I haven't
								worked hard enough, and in turn I'm unable to be proud of what I
								made.
							</p>

							<p>
								This goal is more of a personal goal, in that sense. I want to
								define tangible goals and milestones that I can reach and
								reflect on, so that what I manage to do is never considered the
								'bare minimum', but rather a testament to the growing I've done
								as a developer.
							</p>
						</section>

						<section class="measurements">
							<section>
								<span class="material-symbols-outlined">mountain_flag</span>
								<p>
									Define personal project milestones prior to or at the start of
									the project.
								</p>
							</section>

							<section>
								<span class="material-symbols-outlined">gavel</span>
								<p>
									Discuss success criteria with my teammates to reflect on after
									project completion.
								</p>
							</section>
						</section>
					</section>
				</section>
			</section>

			<section class="goalsreflect" id="inreflection">
				<section class="reflectionitems">
					<div>
						<h2>In reflection</h2>
						<p>
							Testing... testing... is this thing on? It's officially been an
							entire semester - and it's time for me to look back and evaluate
							my progress. Because, while the wide-eyed February-Brianne had
							wild plans and a great vision for the months ahead, life has a
							habit of being unpredictable.
						</p>
					</div>
					<img src="../images/gr-1.jpg" alt="" />
					<div>
						<h3>
							Intuitively write CSS and become a master at responsive coding.
						</h3>
						<p>
							I definitely feel as though I've gotten a lot stronger when it
							comes to CSS and responsive coding. I must admit that I suspected
							not all of my goals would manifest in the Meesterproef as I'd
							hoped they would, but if anything, this was an opportunity for me
							to go above and beyond in other places - such as this very
							blog.<br />

							<br />

							Developing this site was my first experience consciously and
							intently zeroeing in on details. That's not to say that I've
							neglected detailing in the past, but I was always sort of
							restricted in my doing so by time and deadlines. This blog,
							however, was a project that spanned over the course of several
							months. The work excited me, which meant that I felt so motivated
							and inspired that I couldn't help but work on it for <em>fun</em>,
							which in turn meant that I had much more time and opportunities to
							add 'extras'. One of those extras being a well-thought-out mobile
							version in addition to the desktop website.
						</p>

						<h4>How I&#8217;ve developed my CSS skills</h4>
						<p>
							During a talk by <a href="posts/juliamiocene">Julia Miocene</a>,
							one of the things I found most interesting is how she bended
							existing concepts and basic CSS properties to her own will. It's
							so easy to look at other people's works and think,
							<em>I could never make something like that</em>, but Julia's
							lecture offered the opposite. It said to me,
							<em>but what if you could?</em> I decided to find out. <br />
							<br />
							To give you an example, I've worked a lot more with CSS grids and
							pseudoelements like <strong>::before</strong> and
							<strong>::after</strong> to mimic organic shapes and add elements
							like icons that won't result in strange behavior from a
							screenreader. I've also used <strong>:has</strong> to death (I
							couldn't help it, it's just too good) and my entire CSS is
							organized and easy to navigate because I've applied the brand-new
							<strong>CSS nesting</strong>, which I also love.<br />
							<br />
							To be really honest with you, I'm extremely proud of myself. For
							the first time, maybe ever, I'm excited for where I'm headed in
							the future while also being at peace with where I am right now.
							That's the thing about <em>doing</em>. It pulls you forward.
						</p>
					</div>
					<img src="../images/gr-2.jpeg" alt="" />
					<div>
						<h3>Utilize transitions and animations to enhance the UX.</h3>
						<p>
							Back when I defined this goal for myself, I had a very clear idea
							of the projects I thought I'd work on, and the applications I
							thought they would result in. I imagined myself using wild
							scroll-animations and illustrations that smiled at you, plants
							that bloomed on your screen or a road that was paved beneath your
							cursor. For some reason, I wanted <em>more</em>. Less subtlety,
							more of that wow-factor I always get when I find myself
							doomscrolling on <em>awwwards</em> or <em>Behance</em> or
							<em>Dribble</em> again.<br />
							<br />
							But as I followed and completed my courses, I realized that less
							truly is more. I learned to humble myself as I observed the values
							of subtle loading screens, an element expanding on hover, a color
							slowly fading to indicate an action, whichever one it might be. I
							worked in proximity to people with physical disabilities that
							resembled mine, and ones that didn't, and I listened to them. All
							of this made such an impression on me that at this moment in time,
							I find myself priding myself more on the small size of my
							animations and transitions.
						</p>
						<h4>During my Meesterproef</h4>
						<p>
							My application for <em>Tumi Mundo</em> turned out to be a lot more
							functional than I'd anticipated. The assignment was to create an
							attentionspan test for babies aged six months to a year learning a
							language their parents didn't speak, meant to test whether they
							recognized tones in their target language. I've spent most of this
							project behind the scenes, working on data and API-calls and
							models and schemas for a mere facet of a complete app, which meant
							that I didn't really have the opportunity to completely flesh out
							this goal in design or practicality. Like my previous goal, this
							inspired me to discover its feasibility beyond the scope of my
							end-assignment. This blog is armed with a loading screen, spinning
							and turning animations, mini-games in the
							<a href="/arcade">arcade</a> and hover-effects - that exact
							subtlety I was after, wrapped in logical choices and positioned at
							calculated spots. And, of course, accompanied by the option to
							turn all of them off! I am, once again, very proud of this.
						</p>
					</div>
					<img src="../images/gr-3.jpeg" alt="" />
					<div>
						<h3>Set clear milestones and success criteria.</h3>
						<p>
							How exciting is it that I slept well these past weeks? I didn't
							tremble (and neither did my eyelids), I didn't need to keep myself
							awake with the help of caffeine and sugary drinks, and I went home
							at reasonable times.<br />
							<br />
							All this is because I was honest with my team members, and maybe
							even a bit strict about my boundaries. We all agreed that creating
							a facial-recognition application in an assigment with quite a
							complicated UX/UI-design challenge attached to it was no small
							feat, and that's why we were serious about being realistic with
							our goals.
						</p>

						<h4>Our defined milestones and successes</h4>
						<p>
							The most important thing would be to have something standing. If
							we somehow managed to recognize facial movement, it would be a
							milestone. If we could attach that to data, or create data on an
							event, that would be another milestone. If we could send that data
							to a database, that would be our final milestone! Of course, this
							all sounds rather easy, but it wasn't. We continuously ran into
							hurdles to jump like faulty authorization and needing to transform
							data before we could send it and making sure that we respected
							privacy regulations due to the sensitivity of our users.<br />
							<br />
							The fact that we were so clear about keeping ourselves healthy and
							motivated helped. In the past I might've felt guilty for not
							spending my weekend fixing that annoying bug, but due to our set
							boundaries at the beginning of this process, I knew with certainty
							that we would all be refreshed and ready to tackle any issues on
							monday.<br />
							<br />
							This is why I think the best word to describe this process is
							<em>gentle.</em> We looked out for each other as a team and all of
							our hands were helping hands at one point or another. We respected
							the rest we needed and reminded each other of it if necessary, and
							we were better for it. This goal is the most perfectly reached one
							of all.
						</p>
					</div>
					<div>
						<h3>In conclusion</h3>
						<p>
							I feel a great sense of pride and accomplishment when I look back
							on this semester. It is strange to think that it once intimidated
							me, that I might've felt incompotent when I was just unknowing, so
							unaware of all that I am capable of and all that awaited me. In
							some ways, I haven't reached all of my goals, but that just means
							that I can tuck them under my arm and take them with me. During my
							web development job in the summer, my final internship in
							September, my graduation project, and whatever may come
							afterwards.<br />
							<br />
							I believe I did pretty great.
						</p>
					</div>
				</section>
			</section>

			<section class="pre-footer">
				<h2>Still can't get enough after all that?</h2>
				<p>Ummmm, okay.</p>

				<ul>
					<a href="aboutme">
						<li>
							<p>Learn more about me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/arcade">
						<li>
							<p>Play some games</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>

		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/darkmode.js"></script>
	</body>
</html>
