<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/goalsplans">Goals and Plans</a>
			</div>

			<section class="regularcontent">
				<section class="herocontent">
					<section>
						<h1>Goals & Plans</h1>
						<p>
							Before any meaningful project you take on, the goals you set up
							for yourself carry great importance. They can help you recognize
							your successes, find direction and keep your eyes on the goal,
							ultimately aiding in the development of a successful product.<br />

							<br />
							During the web design and development minor, defining our goals
							wasn't just a way for lecturers to track our process, but it was
							also a requirement, aiming to teach us that all we did served as a
							tool to help us grow as developers. On this page, my goals and
							plans are defined in detail.
						</p>
					</section>

					<section>
						<h3>Continue to</h3>
						<a href="">My goals and plans</a>
						<a href="/aboutme">More about me</a>
					</section>
				</section>

				<section class="banner">
					<h2>Hi</h2>
					<p>make it make sense</p>

					<div>
						<span class="material-symbols-outlined">favorite</span>
					</div>
				</section>

				<section class="explanation">
					<section class="messages">
						<div>
							<p class="received">What is it you want?</p>
						</div>

						<div>
							<p class="sent">What do you want to learn?</p>
						</div>

						<div>
							<p class="received">Where do you want to be?</p>
						</div>
					</section>

					<section class="notif">
						<span>1</span><span></span><span>new message</span>
					</section>

					<div>
						<p>
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex,
							odio! Quibusdam rerum, dolorem doloribus enim possimus adipisci
							neque placeat amet, non iusto pariatur nisi ab facere officia
							quasi dignissimos voluptas.
						</p>
					</div>
					<div class="topnotch"></div>
				</section>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/scripts.js" type="text/javascript"></script>
	</body>
</html>
