<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/weeklynerd">Weekly Nerd</a>
			</div>

			<section class="regularcontent">
				<section>
					<h1>Weekly Nerd</h1>
					<p>
						Every week for the duration of the Web Design & Development minor, a
						guest from the workforce will give a guest lecture in the late
						Wednesday afternoon. These lectures cover a variety of subjects that
						can be (and usually are) of importance to 'rookie programmers' such
						as myself.<br />
						<br />
						In order to not lose the important knowledge I gain during these
						guest lectures, I've set up this <em>Weekly Nerd</em> blog - the
						very reason this site, in its entirety, exists. Let's discover the
						many interesting lessons learned during this semester at AUAS!
					</p>
				</section>
				<section class="featured">
					<h2>Hey, hello</h2>
					<p>
						This is a body text. This is a body text. This is a body text. This
						is a body text. This is a body text. This is a body text. This is a
						body text.
					</p>
				</section>
			</section>

			<section class="blogview">
				<h2>Blogs</h2>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scripts.js"></script>
	</body>
</html>
