.gamesgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    grid-column-gap: 25px;
    margin-top: 5vh;

    .game {
        border-radius: var(--border-radius);
        
        > div {
            width: 100%;

            &:first-of-type {
                background-size: cover;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                height: 100px;
                width: 100%;
                border: .5px solid var(--color-headings);
            }

            &:nth-of-type(2) {
                background-color: var(--color-bg);
                border-radius: 0 0 var(--border-radius) var(--border-radius);
                padding: 1em;

                h2 {
                    margin: 0;
                    margin-top: 1em;
                }

                p {
                    margin-top: .5em;
                }

                a {
                    display: inline-block;
                    width: max-content;
                    border-radius: var(--border-radius);
                    background-color: var(--color-accents);
                    color: var(--color-standardblack);
                    font-weight: 300;
                    border: none;
                    padding: .75em 2em;
                    text-align: center;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    margin-left: 70%;

                    &:hover {
                        background-color: var(--color-breadcrumbs);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .game.memory {
        > div {
            &:first-of-type {
                background-image: url("../images/memory.png");
            }
        }
    }

    .game.lofidriver {
        > div {
            &:first-of-type {
                background-image: url("../images/memory.png");
            }
        }
    }
}