body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    overflow-y: hidden;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: small;
    text-shadow: 1px 2px rgba(255, 255, 255, 0.145);
}

main.lofidriver {
    display: flex;
    align-items: center;
    gap: 0;

    height: 100%;
    width: 100%;
    padding: 2vh 5vw;
}

h1 {
    margin: 0;
}

h2 {
    font-size: clamp(.85em, .75em + 2vw, 1.25em);
}

h3 {
    font-size: clamp(.65em, .5em + 2.5vw, 1em);
}

/* GEPOSITIONEERDE ELEMENTEN */

#playspace {
    height: 95%;
    width: 70%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-image: url('../images/lofidriver/sunsethills.png');
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 6px rgba(var(--color-shadowrgb), 0.8);
    overflow: hidden;

    #road {
        height: 741px;
        min-width: calc(3 * 70vw);
        background-image: url('../images/lofidriver/sunsettrees.png');
        background-repeat: repeat-x;
        background-size: 70vw;
        background-position: bottom right;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #car {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -1px);

        img {
            height: 140px;
        }

        &:hover {
            cursor: pointer;
        }
    }
    
    #rain {
        width: 100%; 
        height: 100%;
        position: absolute; 
        top: 0; 
        left: 0; 
        background-image: url("../images/lofidriver/rain.png"); 
        opacity: 0;
        pointer-events: none;
    }
}

#playmenu {
    height: 95%;
    max-width: 550px;
    flex-grow: 1;
    padding: 1em;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    box-shadow: 1px 0px 6px rgba(var(--color-shadowrgb), 0.8);
    background-color: rgba(var(--color-shadowrgb), 0.6);
    position: relative;

    h2 {
        text-align: left;
        font-style: normal;
        font-weight: 200;
        font-size: 1.25em;
        color: var(--color-headings);
        margin-bottom: .5em;

        &:not(:first-of-type) {
            margin-top: 1em;
        }

        &:has(+ .cars) {
            margin-bottom: 35px;
        }

        &:last-of-type {
            margin-top: .5em;
        }
    }

    > div {
        display: flex;
        gap: 10px;

        label {
            display: block;
            max-width: max-content;
            border: none;
            background-color: transparent;
            text-align: center;
            position: relative;
            cursor: pointer;
            transition: all .3s ease-in-out;

            input[type=radio] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            img {
                max-height: 60px;
                width: 100%;
                border-radius: 16px;
                margin-bottom: -10px;
                box-shadow: 0 2px 2px rgba(var(--color-shadowrgb), 0.6);
            }

            > div {
                background-color: var(--color-whites);
                border-radius: 16px;
                padding: 1em;
                
                h3 {
                    margin: 0;
                    margin-top: 5px;
                    font-weight: 200;
                    font-size: 1em;
                    font-style: normal;
                    color: var(--color-headings);
                }

                p {
                    max-width: 100px;
                    font-size: .8em;
                    font-family: "Work Sans", sans-serif;
                    font-weight: 200;
                    color: var(--color-headings);
                    margin: 0;
                    margin-top: 10px;
                    text-align: left;
                }
            }

            span {
                position: absolute;
                display: flex;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid var(--color-accents);
                color: var(--color-headings);
                background-color: var(--color-bg);
                box-shadow: 0 2px 2px rgba(var(--color-shadowrgb), 0.6);
                align-items: center;
                justify-content: center;
                right: 5px;
                top: 40px;
            }

            &:has(input:checked) {
                h3 {
                    font-weight: 800;
                    font-style: italic;
                }

                span {
                    background-color: var(--color-darkaccents);
                    color: var(--color-standardblack);
                }
            }
        }
    }

    .cars {
        gap: 30px;
        cursor: pointer;

        label {
            background-color: var(--color-whites);
            border-radius: 16px;

            img {
                min-height: 60px;
                max-height: 80px;
                box-shadow: none;
                margin-top: -40px;
                margin-right: -30px;
            }

            > div {
                h3 {
                    margin-top: 0;
                    text-align: left;
                }
            }

            span {
                top: 35px;
            }
        }
    }

    .enhancers {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        label {
            background-color: var(--color-whites);
            border-radius: 16px;
            max-width: 200px;
            margin: 10px 0;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: .5em;

            img {
                height: 45px;
                width: 45px;
                border-radius: 8px;
                box-shadow: none;
                margin-bottom: 0;
            }

            > div {
                width: 100%;
                padding: .5em;

                h3 {
                    text-align: left;
                }

                p {
                    max-width: 100%;
                    margin-top: 0;
                    line-height: 1.2;
                }
            }

            span {
                position: relative;
                top: 0;
                min-width: 35px;
            }
        }
    }

    .music {
        display: flex;
        height: 100px;
        max-width: 100%;

        > div {
            max-width: 100%;
            display: flex;
            flex-direction: column;

            img {
                height: 100%;
            }

            h2 {
                margin: 0;
                font-size: 1em;
            }

            h3 {
                margin: .5em 0;
                font-size: .8em;
                margin-bottom: auto;
            }

            .music-controls {
                max-height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: auto;

                button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    border-radius: 16px;

                    span {
                        font-size: 2em;
                        color: var(--color-headings);
                    }

                    &:hover {
                        background-color: var(--color-darkaccents);
                    }
                }
            }
        }
    }
}

main > div:first-of-type {
    position: absolute;
    top: 20px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 7000;
    background-color: var(--color-bg);
    padding: 0 2em 1em 0;
    border-bottom-right-radius: var(--border-radius);
    width: max-content;

    h1 {
        min-width: max-content;
    }

    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--color-headings);
        font-size: 3em;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        transition: all .3s ease-in-out;
    }

    &:hover {
        > a {
            background-color: var(--color-accents);
            color: var(--color-standardblack);
            text-decoration: none !important;
        }
    }
}

.warning {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-accents);
    color: var(--color-standardwhite);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9999;

    h2 {
        max-width: 200px;
    }

    a {
        padding: .5em 1em;
        border-radius: var(--border-radius);
        background-color: var(--color-standardblack);
        color: var(--color-standardwhite);
        font-weight: 300;
        text-decoration: none;
    }
}

.howtotrigger {
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;
        bottom: 20px;
        text-align: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: .5px solid var(--color-headings);
        background-color: var(--color-bg);
        color: var(--color-headings);
        cursor: pointer;

        &:active {
            background-color: var(--color-darkaccents);
            color: var(--color-standardblack);
        }

        &:hover {
            background-color: var(--color-accents);
            color: var(--color-standardblack);
        }
    }

.howtoplay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    div {
        background-color: var(--color-bg);
        border-radius: var(--border-radius);
        height: 300px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1em 2em;
        border: .5px solid var(--color-headings);
        box-shadow: 0 0 15px rgba(var(--color-shadowrgb), 0.4);
        
        h2 {
            margin-bottom: 0;
        }

        p {
            color: var(--color-headings);
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            max-width: 80%;
            margin: 1em 0;
        }

        button {
            background-color: var(--color-bg);
            color: var(--color-headings);
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            font-size: 1em;
            padding: .5em 1em;
            border-radius: var(--border-radius);
            border: 1px solid var(--color-headings);
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: var(--color-standardblack);
                background-color: var(--color-accents);
            }
        }
    }
}

.howtoplay.activeHowTo {
    display: block;
}

/* TOEGESCHREVEN ANIMATIES */

.drivingroad {
    animation: slide 4s linear infinite;
}

.drivingcar {
    animation: rijden 1s linear infinite;
}

.rain {
    animation: rain .2s linear infinite; 
    opacity: .8 !important;
}

/* De animatie van de weg */
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(calc(-70vw), 0, 0);
    }
} 

/* De animatie van de auto */
@keyframes rijden {
    100% {
        transform: translate(-50%, -1px);
    }
    50% {
        transform: translate(-50%, 2px);
    }
    0% {
        transform: translate(-50%, -1px);
    }
}

@keyframes rain { 
    0% { 
        background-position: 0 0;
    } 

    100% { 
        background-position: 10% 100%;
    } 
}

.pauzeerauto, .pauzeerweg {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
}

@media (max-width: 970px) {
    .warning {
        display: flex;
    }
}