@font-face {
    font-family: "Pixel Josh 6";
    src: url("../fonts/pixeleum-48.ttf");
}

:root {
	--pixel-bg: rgb(205, 238, 250); /* Inner background color */
	--pixel-border: #7f7f7f; /* Inner border color: */
	--pixel-border-2: white; /* Middle border color: */
	--pixel-border-3: var(--pixel-border); /* Outer border color */
	--pixel: .125rem; /* Pixel size */
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    overflow-y: hidden;

    /* cursor: url('../images/rocketescape/littlebri32x32.png'), auto; */
}

main.rocketescape {
    height: 100%;
    width: 100%;
    padding: 2vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixel Josh 6";

    > div:first-of-type {
        position: absolute;
        top: 20px;
        left: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        z-index: 7000;
        background-color: var(--color-bg);
        padding: 0 2em 1em 0;
        border-bottom-right-radius: var(--border-radius);
        width: max-content;

        h1 {
            min-width: max-content;
        }

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--color-headings);
            font-size: 3em;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            transition: all .3s ease-in-out;
        }

        &:hover {
            > a {
                background-color: var(--color-accents);
                color: var(--color-standardblack);
                text-decoration: none !important;
            }
        }
    }
}

h1 {
    margin: 0;
}

#playwindow {
    height: 70vh;
    width: 80vw;
    background-image: linear-gradient(to top, #f7f7f7, #d1e4f5, #79b3e8, #1a7bbc, #0b5aa4);
    box-shadow: 5px 5px 5px rgba(var(--color-shadowrgb), 0.4);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    cursor: url('../images/rocketescape/littlebri128x128.png') 64 64, auto;

    &::before {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        z-index: 9990;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff0000;
        cursor: default;
        display: none;
    }
}

.bullet {
    display: block;
    height: 130px;
    width: 130px;
    position: absolute;
    top: -50%;
    right: -150px;
}

.cloud {
    background: url('../images/rocketescape/cloud1.png') no-repeat center center / cover;
}

.plane {
    height: 60px;
    width: 120px;
    background: url('../images/rocketescape/plane.png') no-repeat center center / cover;
}

.bird {
    height: 100px;
    width: 100px;
    background: url('../images/rocketescape/birds.gif') no-repeat center center / cover;
}

.gameover {
    visibility: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-bg);
    color: var(--color-headings);
    cursor: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h2 {
        margin: 0;
        margin-bottom: 1em;
        font-style: normal;
        font-size: 2em;
        font-family: "Pixel Josh 6";
    }

    div {
        display: flex;
        align-items: center;
        gap: 30px;

        p {
            max-width: 300px;
            padding: 1em;
            color: var(--color-headings);
            background-color: var(--color-bg);
            border-radius: 10px;
            border-top-left-radius: 0;
            position: relative;
            box-shadow:

            /* Inner Background Color */
                0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--color-bg),
                0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--color-bg),
                0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--color-bg),
                0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--color-bg),
                0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--color-bg),
                0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--color-bg),
                0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--color-bg),
                0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--color-bg),
                
            /* Pixel Border Layer 1 */
                calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
                var(--pixel) 0 0 0 var(--pixel-border),
                0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
                0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
                0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
                0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
                0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
                0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
                0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
                0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
                0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
                0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
                
            /* Pixel Border Layer 2 */
                calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
                calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
                0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
                0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
                0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
                0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
                0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
                0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
                0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
                0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
                0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
                0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
                0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
                0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
                
            /* Border Layer 3: --pixel-border-3 */
                calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
                calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
                0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
                0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
                0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
                0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
                0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
                0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
                0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
                0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
                0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
                0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
                0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
                0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
                0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
        }
    }
}

.gameover.gameisover {
    visibility: visible;
}

#playagain {
    margin-top: 4em;
    padding: 0 1em;
    background-color: var(--pixel-bg);
    border: none;
    font-family: "Pixel Josh 6";
    cursor: pointer;
    box-shadow:
    /* Inner Background Color */
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        
    /* Pixel Border Layer 1 */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        
    /* Pixel Border Layer 2 */
        calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
        calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
        0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
        0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        
        /* Border Layer 3: --pixel-border-3 */
        calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
        calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
        0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
        0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
        0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
}

@keyframes bulletMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

.warning {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-accents);
    color: var(--color-standardwhite);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9999;

    h2 {
        max-width: 200px;
    }

    a {
        padding: .5em 1em;
        border-radius: var(--border-radius);
        background-color: var(--color-standardblack);
        color: var(--color-standardwhite);
        font-weight: 300;
        text-decoration: none;
    }
}

@media (max-width: 970px) {
    .warning {
        display: flex;
    }
}


.howtotrigger {
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 20px;
        bottom: 20px;
        text-align: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: .5px solid var(--color-headings);
        background-color: var(--color-bg);
        color: var(--color-headings);
        cursor: pointer;

        &:active {
            background-color: var(--color-darkaccents);
            color: var(--color-standardblack);
        }

        &:hover {
            background-color: var(--color-accents);
            color: var(--color-standardblack);
        }
    }

.howtoplay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    div {
        background-color: var(--color-bg);
        border-radius: var(--border-radius);
        height: max-content;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 1em 2em;
        border: .5px solid var(--color-headings);
        box-shadow: 0 0 15px rgba(var(--color-shadowrgb), 0.4);
        
        h2 {
            margin-bottom: 0;
        }

        p {
            color: var(--color-headings);
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            max-width: 80%;
            margin: 1em 0;
        }

        button {
            background-color: var(--color-bg);
            color: var(--color-headings);
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            font-size: 1em;
            padding: .5em 1em;
            border-radius: var(--border-radius);
            border: .5px solid var(--color-headings);
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: var(--color-standardblack);
                background-color: var(--color-accents);
            }
        }
    }
}

.howtoplay.activeHowTo {
    display: block;
}