:root {
    /* Colors */
    --color-headings: #000;
    --color-whites: #fff;
    --color-breadcrumbs: #8f7da8;
    --color-darkaccents: #b8a9cc;
    --color-accents: #d6c7eb;
    --color-borders: #d9cbea;
    --color-lightest: #f2eff8;

    --color-orange: #f7b99e;
    --color-yellow: #fee3ac;
    --color-blue: #b4d4d3;
    --color-green: #beccb0;

    --lineargradient: linear-gradient(
        to right,
        rgba(152, 88, 179, 0.1),
        var(--color-accents) 4%,
        rgba(152, 88, 179, 0.1)
    );

    /* Padding and margins */
    --button-padding: 1.5vh 2.5vw;
    --navitem-margin: 0;
    --sections-margin: 5vh 0;

    /* Borders */
    --border-radius: 25px;
    --bg-urlone: url("../images/kilianvalkhof.jpg");
    --bg-urltwo: url("../images/fennadewilde.jpg");

    /* Transitions */
    --transition: all .3s ease-in-out;
}

[data-dark-mode] {
    --color-headings: #fff;
        --color-whites: #000;
        --color-breadcrumbs: #8f7da8;
        --color-accents: #d6c7eb;
        --color-borders: #d9cbea;

        --color-orange: #f7b99e;
        --color-yellow: #fee3ac;
        --color-blue: #b4d4d3;
        --color-green: #beccb0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: var(--color-headings);
}

h1 {
    font-size: 6vh;
    margin-bottom: .5em;
}

h2:not(".reflectheading") {
    margin-top: 5vh;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(var(--color-lightest), #fff);
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    margin: 5vh 5vw;
}

body > main > section > h2,
body > main > section > p {
    margin: 0;
    text-align: center;
}

body > main > section > p {
    margin-bottom: 2.5em;
}

em {
    font-family: 'Playfair Display', serif;
}

date {
    font-weight: 200;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10vh;
}

p {
    font-size: clamp(1rem, .5vw + .5rem, 1.5rem);
    font-weight: 300;
    line-height: 1.75em;
    cursor: default;
}

li {
    font-weight: 300;
}

i {
    color: var(--color-whites);
}

a {
    text-decoration: none;
    color: var(--color-breadcrumbs);
}

.footer a {
    color: var(--color-whites);

    &:hover {
        color: var(--color-breadcrumbs);
        text-decoration: none;
    }
}

a:hover {
    text-decoration: underline;
}

strong {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    /* margin: 0 -0.4em; */
    margin: 0;
    padding: 0 .5em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: var(--lineargradient);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: clamp(.75rem, .75rem + .5vw, .85rem);
}

#integration p,
#opinions p {
    font-size: clamp(.5rem, .5rem + .5vw, .75rem);
}

.creativegrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    div {
        width: 200px;
        position: relative;
        border-radius: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-of-type(1) {
            background-image: url("../images/gr-1.jpg");
            grid-area: 1 / 1 / 3 / 3;
        }
        
        &:nth-of-type(2) {
            background-image: url("../images/gr-2.jpg");
            grid-area: 1 / 3 / 2 / 6;
        }

        &:nth-of-type(3) {
            background-image: url("../images/gr-3.jpg");
            grid-area: 3 / 1 / 6 / 3;
        }

        &:nth-of-type(4) {
            background-image: url("../images/gr-4.jpg");
            grid-area: 2 / 3 / 6 / 6;
        }
    }
}

.regularcontent:has(.creativegrid) {
    padding-bottom: 65px;
    margin-bottom: 65px;
    border-bottom: 1px solid var(--color-borders);
}

/* ----------- */
/* BREADCRUMBS */
/* ----------- */

.breadcrumbs {
    display: flex;
    gap: 1em;
    color: var(--color-breadcrumbs);

    margin: 2em auto 0;
}

.breadcrumbs a {
    text-decoration: none;
     color: var(--color-breadcrumbs);
}

.breadcrumbs a:hover {
    text-decoration: underline;
     color: var(--color-headings);
     transition: var(--transition);
}

/* ---------- */
/* NAVIGATION */
/* ---------- */

.header {
    border-bottom: 1px var(--color-borders) solid;
    padding-bottom: 3.5vh;
    margin: 5vh 5vw;
    font-size: .95em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img#logo {
    max-width: 10vw;
}

/* SITE .header */
.header ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0 auto 0 2.5vw;
}

.header li {
    display: inline;
    min-width: 100px;
    border-radius: var(--border-radius);

    padding: var(--button-padding);
    margin: var(--navitem-margin);
    background: transparent;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
}

.header li:first-of-type {
    margin-left: 0;
}

.header li:hover {
    background-color: var(--color-accents);
}

.header li a {
    text-decoration: none;
    color: var(--color-headings);
}

/* QUICK LINKS */
.quick-actions {
    background-color: var(--color-headings);
    padding: 1.5vh 0;
    border-radius: var(--border-radius);
    
    max-width: max-content;
}

.quick-actions a {
    text-decoration: none;
    padding: 0 1.5vw;
    -webkit-transition: background-color .3s; /* For Safari 3.0 to 6.0 */
    transition: background-color .3s; /* For modern browsers */
}

.quick-actions a:hover i {
   color: var(--color-accents);
}


.quick-actions a:first-of-type {
    border-right: 1px var(--color-borders) solid;
    border-radius: 25px 0 0 25px;
    padding-right: 1vw;
}

.quick-actions a:nth-of-type(2) {
    border-radius: 0 25px 25px 0;
}

/* ------------- */
/* QUOTE SECTION */
/* ------------- */

.quotesection {
    width: 110vw;
    margin-left: -5vw; /* Compensate for the left margin */
    margin-right: -5vw; /* Compensate for the right margin */
    background: var(--color-blue);
    margin-bottom: 10vh;
    box-sizing: border-box;
    padding: 10vh 5vw;
}

blockquote {
    font-family: 'Playfair Display', serif;
    display: grid;
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px; 
    padding: 0 10vw;
    cursor: pointer;
}

.blog > blockquote {
    display: block;
    padding-left: 5vw;
    text-align: center;
    max-width: 500px;
    transition: all .3s ease-in-out;
    cursor: default;

    &:hover {
        color: var(--color-breadcrumbs);
    }

    p {
        cursor: default;
    }
}

blockquote > p {
    font-size: clamp(1rem, .5rem + 1.5vw, 5rem);
    font-style: italic;
    font-weight: 400;
    grid-area: 1 / 1 / 2 / 2;
}

blockquote > h5 {
    font-size: clamp(1rem, .5rem + 1vw, 2rem);
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    align-self: center;
}

blockquote > h5 > cite {
    font-style: normal !important;
    text-decoration: underline;
    font-weight: 100;
}

blockquote > h5 > span > i {
    color: var(--color-headings);

    background: transparent;
    padding: 1rem;
    margin-top: 0;
    margin-left: 1rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    opacity: 0;
}

blockquote:hover > h5 > span > i {
    background: var(--color-whites);
    transform: scale(1.5);
    opacity: 1;
}

/* --------- */
/* BLOG GRID */
/* --------- */

.blogs {
    display: flex;
    flex-direction: column;

    > a {
        align-self: flex-end;
        margin-right: 5vw;

        text-decoration: none;
        max-width: max-content;
        display: inline;
        color: var(--color-headings);
        padding: var(--button-padding);
        border-radius: var(--border-radius);
        border: 1px solid var(--color-headings);
        transition: all .3s;

        background-color: var(--color-headings);
        color: var(--color-whites);

        &:hover {
            background-color: var(--color-accents);
            border: 1px solid var(--color-accents);
            color: var(--color-headings);
        }
    }
}

.blog h2 {
    margin-top: 1.5em;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    width: fit-content;
}

.blog-grid h3 {
    font-size: clamp(1.5rem, .5vw + 1rem, 2rem);
}

.blog-item {
    width: 25vw;
    height: 50vh;
    color: var(--color-headings);
    position: relative;
    border-radius: 25px;
}

.blog-item a div:first-of-type {
    width: 100%;
    aspect-ratio: 2/1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.blog-item a div:first-of-type i {
    height: max-content;
    width: max-content;

    text-decoration: none;
    opacity: 0;

    font-size: small;
    text-align: right;
    background: transparent;
    color: var(--color-headings);
    padding: 1rem;
    margin-top: 0;
    margin-left: auto;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.blog-item a:hover div:first-of-type i {
    background: var(--color-borders);
    transform: scale(2);
    opacity: 1;
}

.blog-item a div:nth-of-type(2) {
    min-height: 40%;
}

.blog-item a h5 {
    margin-top: auto;
    margin-bottom: .75rem;
    color: var(--color-headings);
    /* font-family: 'Playfair Display', serif; */
    font-style: italic;
    font-weight: 300;
}

.blog-item a h4 {
    position: relative;
    
    width: 100%;
    color: var(--color-breadcrumbs);
    font-family: 'Playfair Display', serif;
    font-size: small;
    font-weight: 100;
    font-style: italic;

    border-top: var(--color-headings) solid .5px;
    padding-top: .5rem;
    margin: 0;
    margin-top: 1rem;

    display: flex;
    flex-wrap: wrap;
}

.blog-item a h4 span:not(:first-of-type) {
    padding-left: .5rem;
}

.blog-item a h4 span:not(:last-of-type) {
    padding-right: .5rem;
}

.blog-item a h3 {
    margin: 0;
    color: var(--color-breadcrumbs);
    text-transform: uppercase;
    font-weight: 100;
    font-style: normal;
}

.blog-item a p {
    margin: 0;
    /* margin-bottom: 2rem; */
    color: var(--color-headings);
}


/* ------------------- */
/* FILTER BLOGS SYSTEM */
/* ------------------- */

/* .edit-view > .blog-filters > div > label > input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
} */

input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0.1px;
    margin: 0;
    padding: 0;
}

.edit-view {
    display: flex;
    align-items: center;
    margin: 0 5vw 1vh;

    h3 {
        i {
            color: var(--color-headings);

            &:hover {
                cursor: default;
            }
        }

        &:hover {
            cursor: default;
        }
    }

    label {
        font-weight: 300;
    }

    .blog-filters {
        display: flex;
        align-items: center;
        margin-right: auto;
        gap: 10px;

        > div {
            > label {
                display: flex;
                align-items: center;

                font-family: "Work Sans", sans-serif;
                font-weight: 300;

                padding: .5em 1em;
                padding-right: .5em;
                background-color: var(--color-lightest);
                border: none;
                border-radius: 16px;
                font-size: 1em;
                cursor: pointer;
                transition: all .3s ease-in-out;

                i {
                    color: var(--color-headings);
                    font-weight: 100;
                    padding: 0;
                    margin: 0;
                    transition: transform .3s ease-in-out;
                }

                &:hover {
                    background-color: var(--color-accents);
                }
            }
        }

        > button {
            font-family: "Work Sans", sans-serif;
            font-weight: 300;

            padding: .5em 1em;
            background-color: var(--color-whites);
            border: none;
            box-shadow: 1px 1px 1px var(--color-accents);
            border-radius: 16px;
            font-size: 1em;
            cursor: pointer;
            transition: all .3s ease-in-out;

            i {
                color: var(--color-headings);
                font-weight: 100;
                padding: 0;
                margin: 0;
            }

            &:hover {
                background-color: var(--color-accents);
                /* border: .5px solid transparent; */
                box-shadow: none;
            }
        }
    }

    .sort {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 10px;

        > label {
            display: flex;
            align-items: center;

            font-family: "Work Sans", sans-serif;
            font-weight: 300;

            padding: .5em 1em;
            padding-right: .5em;
            background-color: var(--color-lightest);
            border: none;
            border-radius: 16px;
            font-size: 1em;
            cursor: pointer;
            transition: all .3s ease-in-out;

            i {
                color: var(--color-headings);
                font-weight: 100;
                padding: 0;
                margin: 0;
            }

            &:hover {
                background-color: var(--color-accents);
            }
        }
    }
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    z-index: 9999;
    position: absolute;
    height: 0;
    width: 200px;
    opacity: 0;
    text-align: left;
    transition: all .5s ease-in-out;
    padding: .5em;
    border-radius: 16px;
    background-color: var(--color-whites);

    label {
        border: none;
        padding: .5em 1em;
        border-radius: 0px;
        cursor: pointer;
        text-align: left;
        height: 1.25em;
        opacity: 0;
        z-index: 0;
        pointer-events: none;
        transition: all .1s ease-in-out;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-lightest);
        }

        i {
            opacity: 0;
            font-size: 1.5em;
            margin: 0;
            padding: 0;
            color: var(--color-headings);
            display: none;
        }
    }
}

.edit-view > .blog-filters > div > label:has(input[type=checkbox]:checked) {
    background-color: var(--color-accents);

    + div {
        height: max-content;
        opacity: 1;
        z-index: 9999;
        pointer-events: auto;
        
        label {
            opacity: 1;
            pointer-events: all;
        }
    }

    i {
        transform: rotate(180deg);
    }
}

.edit-view > .blog-filters > div > div > label:has(input[type=checkbox]:checked) {
    background-color: var(--color-accents);

    i {
        opacity: 1;
        display: inline;
    }
}


.selectedfilters {
    display: flex;
    align-items: center;
    margin: 0 5vw 5vh;
    gap: 10px;

    button {
        display: flex;
        align-items: center;
        padding: .5em 1em;
        border: .5px solid var(--color-headings);
        background-color: transparent;
        font-size: 1em;
        border-radius: 16px;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        cursor: pointer;

        i {
            color: var(--color-headings);
            font-size: 1.25em;
            margin-left: 5px;
        }

        &:hover {
            background-color: var(--color-accents);
            border: .5px solid var(--color-accents);
        }
    }
}

/* ------------ */
/* FOOTER STYLE */
/* ------------ */

footer {
    position: static;
    width: 100%;
    height: auto;
    padding: 5vh 5vw;
    margin: 0;
    background-color: var(--color-headings);
    color: var(--color-whites);
}

.footer {
     display: flex;
    flex-direction: column;
    gap: 10vh;
}

.footer-top {
    position: relative;
}

.footerText {
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    width: 60vw;
    list-style-type: none;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 1.5em;

    columns: 20vw 2;
    column-gap: 2.8vw;
}

footer ul li {
    width: max-content;
    cursor: pointer;
}

footer ul li:not(:first-of-type:nth-of-type(5)) {
    padding-top: 1.5vw;
}

footer ul li:hover {
    color: var(--color-breadcrumbs);
    box-shadow: 0 2px 0 0 #8f7da8; /* Border bottom */
}

footer button {
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--color-whites);

    position: absolute;
    top: 5vh;
    right: 9vw;
    display: block;

    height: 20px;
    width: 20px;

    cursor: pointer;
    transition: var(--transition);
}

footer button:hover {
    background-color: var(--color-breadcrumbs);
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

footer button span {
 font-size: large;
}

.material-symbols-outlined {
    font-size: 75px;
    font-weight: 200;
}

/* ----------- */
/* INFORMATION */
/* ----------- */
.introduction {
    container-type: inline-size;
    max-height: 75vh;
    display: flex;
    margin: var(--sections-margin);
    gap: 10vw;
    overflow: hidden;
}

.about-me {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction .about-me .name::after {
    content: "";
    display: inline-block;
    background-image: url("../images/fennadewilde.jpg");
    background-size: cover;
    height: 4vh;
    width: 10vw;
    margin: .5vh 0 0 .5vw;
    border-radius: var(--border-radius);
    z-index: 9999;
}

.about-me h2 {
    margin-bottom: 2.5vh;
    margin-top: auto;
}

.littlelinks {
    display: flex;
    margin-bottom: 2vh;
}

.about-me a {
    text-decoration: none;
    max-width: max-content;
    display: inline;
    color: var(--color-headings);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-headings);
    transition: all .3s;
}

.about-me a:first-of-type {
    background-color: var(--color-headings);
    color: var(--color-whites);
    margin-right: 1.5vw;
}


.about-me a:hover {
    background-color: var(--color-accents);
    border: var(--color-accents);
    color: var(--color-headings);
}

/* ------------- */
/* THE ACCORDION */
/* ------------- */

.recent-weeklynerds {
    max-height: 100%;
}

.accordion {
  list-style-type: none;
  display: flex;
  gap: 0.15rem;
  padding: 0.15rem;
}

.accordion .item {
    flex: 1;
    height: 70vmin;
    cursor: pointer;
    overflow: hidden;
    transition: flex 1s;
    border-radius: var(--border-radius);
    background-size: cover; /* Cover the entire .item */
    background-position: center; /* Center the background image */
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 0 1em 1em;
}

.animation.item {
  flex: 3;
}

.accordion .item h3 {
    margin-top: auto;
}

.fade-in {
    animation: fadeInAnimation 0.5s forwards; /* Adjust time as needed */
    visibility: hidden; /* Start hidden and let the animation reveal the text */
}

@keyframes fadeInAnimation {
    to {
        visibility: visible;
        opacity: 1;
    }
}

/* Ensure text is initially hidden and only shown through the animation */
.accordion .item h3, .accordion .item p, .accordion .item a {
    visibility: hidden;
    opacity: 0; /* Start fully transparent */
}

/* Updated CSS for showing/hiding text */
.accordion .item h3, .accordion .item p, .accordion .item a {
    color: var(--color-whites);
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0; /* Start fully transparent */
}

.accordion .item h3 {
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.accordion .item a {
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-whites);
    width: max-content;
    color: var(--color-headings);
    text-decoration: none;
    transition: var(--transition);
}

.accordion .item a:hover {
    background-color: var(--color-accents);
    border: var(--color-accents);
    color: var(--color-headings);
}

.item:first-of-type {
    background-image: url('../images/kilianvalkhof.jpg');
}

.item:nth-of-type(2) {
    background-image: url('../images/fennadewilde.jpg');
}

.item:first-of-type.gradient-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), var(--bg-urlone);
}

.item:nth-of-type(2).gradient-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), var(--bg-urltwo);
}

/* ----- */
/* GOALS */
/* ----- */

.goals {
    margin: 7.5em 0;
}

.goals > ul > a {
    text-decoration: none;
    color: var(--color-headings);
}

.goals > ul > a > li p {
    margin-top: 1em;
    line-height: 1em;
    padding: 0 2vw 2vh;
    max-width: 70%;
    transition: var(--transition);
}

.goals > ul > a > li p:first-child {
    font-family: "Work Sans", sans-serif;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
}

.goals > ul > a > li p:nth-of-type(2) {
    font-family: "Playfair Display", serif;
    font-style: italic;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
}

.goals > ul > a:hover > li p:first-child {
    opacity: 0;
}

.goals > ul > a:hover > li p:nth-of-type(2) {
    opacity: 1;
}

.goals ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.goals ul a {
    position: relative;
}

.notch {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0vh;
    right: 0;
    background-color: #f7f4fa;
    border-top-left-radius: 50%;
    z-index: 8000;
}

.goals ul a li {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);

    max-width: 280px;
    min-width: 280px;
    min-height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.goals ul a:first-of-type li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/green.jpg");
}

.goals ul a:nth-of-type(2) li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/blue.jpg");
}

.goals ul a:nth-of-type(3) li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/whiteblue.jpg");
}

.goals ul a:nth-of-type(4) li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/white.jpg");
}

.round-button {
    width: 50px;
    height: 50px;
    background-color: var(--color-blue);
    border-radius: 50%;
    position: absolute;
    bottom: 0vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 9999;
    transition: var(--transition);
  }

  .goals ul a:hover .round-button,
  .round-button:hover {
    background-color: var(--color-accents);
  }

  /* ----------- */
  /* WEEKLY NERD */
  /* ----------- */

  .regularcontent {
    max-height: 75vh;
    display: flex;
    gap: 10vw;
  }

/* ---- */
/* BLOG */
/* ---- */

.maincontent {
    display: flex;
    gap: 10vw;
}

.blog {
    max-width: 800px;
}

.reflection {
    margin-top: 3vh;
    border-radius: var(--border-radius);
    border: .5px solid var(--color-headings);
    font-size: small;
    width: 100%;
    height: max-content;
}

.reflection h2 {
    margin: 1em;
    padding-left: .5em;
    border-radius: 30px;
    background: transparent;
    background-image: var(--lineargradient);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.reflection h3 {
    margin: 0;
}


.reflection ul {
    padding: inherit;
    list-style-type: "⋒  ";
}

.reflection ul li {
    margin: .5em auto;
}

.reflection ul li::marker {
    color: var(--color-breadcrumbs);
}

.blog-title {
    margin-top: .5em;
    margin-bottom: 0;
}

#metadata {
    font-style: italic;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--color-breadcrumbs);
}

/* SEPARATE SECTIONS */
.reflection > section {
    border-radius: var(--border-radius);
    padding: 1em 2em;
    margin: 0;
}

.reflection > section h3 {
    margin-top: 1em;
}

.stat {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    cursor: pointer;
}

#stats {
    background-color: #f4f2f9;
    border: .5px solid var(--color-headings);
    padding: 0.5em 2em;
}

#opinions {
    border: .5px solid var(--color-accents);
    background-color: #e7ddf1;
}

#integration {
    background-color: #f4f2f9;
    border: .5px solid var(--color-headings);
}

#tagcontainer {
    display:inline-flex;
    flex-direction: row;
}

.tag {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin: 0 5px;
    padding: 0 1vw;
    background-color: #e7ddf1;
    border-radius: 3px;
    font-size: 0.8em;
    cursor: pointer;
}

.tag i {
    font-size: 1em;
    font-weight: 100;
    color: var(--color-headings);
    margin-right: .5vw;
}

.tag:hover {
    box-shadow: 0 0 0 .5px var(--color-headings);
}

#stats ul li:hover::after {
    content: "";
    padding: auto 16px;
    margin-left: .5vw;
    display: inline;
    font-family: "Work Sans", sans-serif;
    font-size: .75em;

    background: var(--lineargradient);
    border-radius: var(--border-radius);

}

#stats ul li:first-of-type:hover::after {
    content: "Very unlikely - Unlikely - Likely - Very Likely";
}

#stats ul li:nth-of-type(2):hover::after {
    content: "No impact - Small impact - Large impact";
}

#stats ul li:nth-of-type(3):hover::after {
    content: "Uninspired - Inspired - Very inspired";
}








/* -------------- */
/* RESPONSIVENESS */
/* -------------- */

@media (max-width: 900px) {
    .introduction {
        flex-direction: column;
        max-height: fit-content;
        margin-top: 0;
    }

    .introduction h1 {
        margin-top: 0;
    }

    span.name::after {
        visibility: hidden;
        max-width: 0.1px;
    }

    .introduction .recent-weeklynerds {
        display: none;
    }

    .goals ul {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .goals ul a li {
        max-height: max-content;
        min-height: max-content;
    }

    .notch {
        display: none;
    }

    .round-button {
        display: none;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------
 *                                                    DICE
 *-----------------------------------------------------------------------------------------------------------------------**/

.featured:has(.creativegrid) {
    position: relative;

    &:hover {
        .creativegrid {
            grid-column-gap: 5px;
            grid-row-gap: 5px;

            div {
                opacity: .5;
            }
        }

        .dice-container {
            top: 50%;
            transform: translate(-50%, -50%) scale(1.7);
            opacity: 1;
        }
    }
}

 .add-keyframe {
   animation-name: rotate;
   animation-iteration-count: infinite;
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   animation-name: opacity;
}

.dice-container {
    position: absolute;
    transition: all .4s ease-out;
    opacity: 0;
    top: 80%;
    left: 50%;
}

.dice {
   width: 60px;
   height: 60px;
   position: relative;
   transform-style: preserve-3d;
   transform: rotateX(0deg) rotateY(0deg) translateX(0);
   animation-name: rotate;
   animation-iteration-count: infinite;
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   cursor: pointer;
   
   > div {
      height: 60px;
      width: 60px;
      position: absolute;
      border-radius: 8px;
      background: var(--color-accents);
      border: .5px solid var(--color-whites);

      /* &:nth-of-type(1) {
        background: var(--color-orange);
      }

      &:nth-of-type(2) {
        background: var(--color-green);
      }

      &:nth-of-type(3) {
        background: var(--color-yellow);
      }

      &:nth-of-type(4) {
        background: var(--color-accents);
      }

      &:nth-of-type(5) {
        background: var(--color-blue);
      }

      &:nth-of-type(6) {
        background: var(--color-green);
      } */
   }

   span {
      width: 8px;
      height: 8px;
      background: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
   }

   .front { 
      transform: rotateY(0deg) translateZ(30px);

      span {
         &:nth-child(1) {
            top: 10px;
            left: 12px;
         }
         &:nth-child(2) {
            top: 10px;
            right: 12px;
         }
         &:nth-child(3) {
            top: 26px;
            left: 12px;
         }
         &:nth-child(4) {
            top: 26px;
            right: 12px;
         }
         &:nth-child(5) {
            bottom: 10px;
            left: 12px;
         }
         &:nth-child(6) {
            bottom: 10px;
            right: 12px;
         }
      }
   }
   .back { 
      transform: rotateX(180deg) translateZ(30px);

      span {
         top: 26px;
         left: 26px;
      }
   }
   .right { 
      transform: rotateY(90deg) translateZ(30px); 

      span {
         &:nth-child(1) {
            top: 12px;
            left: 12px;
         }
         &:nth-child(2) {
            top: 12px;
            right: 12px;
         }
         &:nth-child(3) {
            top: 26px;
            left: 26px;
         }
         &:nth-child(4) {
            bottom: 12px;
            left: 12px;
         }
         &:nth-child(5) {
            bottom: 12px;
            right: 12px;
         }
      }
   }
   .left { 
      transform: rotateY(-90deg) translateZ(30px);

      span {
         &:nth-child(1) {
            top: 12px;
            right: 12px;
         }
         &:nth-child(2) {
            bottom: 12px;
            left: 12px;
         }
      }
   }
   .top { 
      transform: rotateX(90deg) translateZ(30px);

      span {
         &:nth-child(1) {
            top: 12px;
            right: 12px;
         }
         &:nth-child(2) {
            bottom: 12px;
            left: 12px;
         }
         &:nth-child(3) {
            bottom: 26px;
            left: 26px;
         }
      }
   }
   .bottom { 
      transform: rotateX(-90deg) translateZ(30px);

      span {
         &:nth-child(1) {
            top: 12px;
            right: 12px;
         }
         &:nth-child(2) {
            top: 12px;
            left: 12px;
         }
         &:nth-child(3) {
            bottom: 12px;
            left: 12px;
         }
         &:nth-child(4) {
            bottom: 12px;
            right: 12px;
         }
      }
   }
}

@keyframes opacity {
   0% { opacity: 1; }
   20% { opacity: .5; }
   40% { opacity: 1; }
   60% { opacity: 1; }
   80% { opacity: .5; }  
   100% { opacity: 1; }
}

@keyframes rotate {
   0% { transform: rotateX(0deg) rotateY(0deg); }
   20% { transform: rotateX(60deg) rotateY(60deg); }
   40% { transform: rotateX(120deg) rotateY(120deg); }
   60% { transform: rotateX(180deg) rotateY(180deg); }
   80% { transform: rotateX(240deg) rotateY(240deg); }
   100% { transform: rotateX(360deg) rotateY(360deg); }
}