:root {
    /* Colors */
    --color-headings: #000;
    --color-whites: #fff;
    --color-breadcrumbs: #8f7da8;
    --color-accents: #d6c7eb;
    --color-borders: #d9cbea;

    --color-orange: #f7b99e;
    --color-yellow: #fee3ac;
    --color-blue: #b4d4d3;
    --color-green: #beccb0;

    --lineargradient: linear-gradient(
        to right,
        rgba(152, 88, 179, 0.1),
        var(--color-accents) 4%,
        rgba(152, 88, 179, 0.1)
    );

    /* Padding and margins */
    --button-padding: 1.5vh 2.5vw;
    --navitem-margin: 0;
    --sections-margin: 5vh 0;

    /* Borders */
    --border-radius: 25px;
    --bg-urlone: url("../images/kilian.jpg");
    --bg-urltwo: url("../images/fenna.jpeg");

    /* Transitions */
    --transition: all .3s ease-in-out;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: var(--color-headings);
}

h1 {
    font-size: 6vh;
    margin-bottom: .5em;
}

h2:not(".reflectheading") {
    margin-top: 5vh;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(#f2eff8, #fff);
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    margin: 5vh 5vw;
}

em {
    font-family: 'Playfair Display', serif;
}

date {
    font-weight: 200;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10vh;
}

p {
    font-weight: 300;
    line-height: 1.75em;
}

li {
    font-weight: 300;
}

i {
    color: var(--color-whites);
}

a {
    text-decoration: none;
    color: var(--color-breadcrumbs);
}

a:hover {
    text-decoration: underline;
}

code {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: var(--lineargradient);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* ----------- */
/* BREADCRUMBS */
/* ----------- */

.breadcrumbs {
    display: flex;
    gap: 1em;
    color: var(--color-breadcrumbs);

    margin: 2em auto 0;
}

.breadcrumbs a {
    text-decoration: none;
     color: var(--color-breadcrumbs);
}

.breadcrumbs a:hover {
    text-decoration: underline;
     color: var(--color-headings);
     transition: var(--transition);
}

/* ---------- */
/* NAVIGATION */
/* ---------- */

.header {
    border-bottom: 1px var(--color-borders) solid;
    padding-bottom: 3.5vh;
    margin: 5vh 5vw;
    font-size: .95em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img#logo {
    max-width: 10vw;
}

/* SITE .header */
.header ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0 auto 0 2.5vw;
}

.header li {
    display: inline;
    min-width: 100px;
    border-radius: var(--border-radius);

    padding: var(--button-padding);
    margin: var(--navitem-margin);
    background: transparent;
    -webkit-transition: background-color .3s; /* For Safari 3.0 to 6.0 */
    transition: background-color .3s; /* For modern browsers */
    cursor: pointer;
}

.header li:first-of-type {
    margin-left: 0;
}

.header li:hover {
    background-color: var(--color-accents);
}

.header li a {
    text-decoration: none;
    color: var(--color-headings);
}

/* QUICK LINKS */
.quick-actions {
    background-color: var(--color-headings);
    padding: 1.5vh 0;
    border-radius: var(--border-radius);
    
    max-width: max-content;
}

.quick-actions a {
    text-decoration: none;
    padding: 0 1.5vw;
    -webkit-transition: background-color .3s; /* For Safari 3.0 to 6.0 */
    transition: background-color .3s; /* For modern browsers */
}

.quick-actions a:hover i {
   color: var(--color-accents);
}


.quick-actions a:first-of-type {
    border-right: 1px var(--color-borders) solid;
    border-radius: 25px 0 0 25px;
    padding-right: 1vw;
}

.quick-actions a:nth-of-type(2) {
    border-radius: 0 25px 25px 0;
}

/* ------------ */
/* FOOTER STYLE */
/* ------------ */

footer {
    position: static;
    width: 100%;
    height: auto;
    padding: 5vh 5vw;
    margin: 0;
    background-color: var(--color-headings);
    color: var(--color-whites);
}

.footer {
     display: flex;
    flex-direction: column;
    gap: 10vh;
}

.footer-top {
    position: relative;
}

.footerText {
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    width: 60vw;
    list-style-type: none;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 1.5em;

    columns: 20vw 2;
    column-gap: 2.8vw;
}

footer ul li {
    width: max-content;
    cursor: pointer;
}

footer ul li:not(:first-of-type:nth-of-type(5)) {
    padding-top: 1.5vw;
}

footer ul li:hover {
    color: var(--color-breadcrumbs);
    box-shadow: 0 2px 0 0 #8f7da8; /* Border bottom */
}

footer button {
    background: none;
    border: none;
    border-radius: 50%;
    color: var(--color-whites);

    position: absolute;
    top: 5vh;
    right: 9vw;
    display: block;

    height: 20px;
    width: 20px;

    cursor: pointer;
    transition: var(--transition);
}

footer button:hover {
    background-color: var(--color-breadcrumbs);
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

footer button span {
 font-size: large;
}

.material-symbols-outlined {
    font-size: 75px;
}

/* ----------- */
/* INFORMATION */
/* ----------- */
.introduction {
    container-type: inline-size;
    max-height: 75vh;
    display: flex;
    margin: var(--sections-margin);
    gap: 10vw;
    overflow: hidden;
}

.about-me {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction .about-me .name::after {
    content: "";
    display: inline-block;
    background-image: url("../images/fenna.jpeg");
    background-size: cover;
    height: 4vh;
    width: 10vw;
    margin: .5vh 0 0 .5vw;
    border-radius: var(--border-radius);
    z-index: 9999;
}

.about-me h2 {
    margin-bottom: 2.5vh;
    margin-top: auto;
}

.littlelinks {
    display: flex;
    margin-bottom: 2vh;
}

.about-me a {
    text-decoration: none;
    max-width: max-content;
    display: inline;
    color: var(--color-headings);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-headings);
    transition: all .3s;
}

.about-me a:first-of-type {
    background-color: var(--color-headings);
    color: var(--color-whites);
    margin-right: 1.5vw;
}


.about-me a:hover {
    background-color: var(--color-accents);
    border: var(--color-accents);
    color: var(--color-headings);
}

/* ------------- */
/* THE ACCORDION */
/* ------------- */

.recent-weeklynerds {
    max-height: 100%;
}

.accordion {
  list-style-type: none;
  display: flex;
  gap: 0.15rem;
  padding: 0.15rem;
}

.accordion .item {
    flex: 1;
    height: 70vmin;
    cursor: pointer;
    overflow: hidden;
    transition: flex 1s;
    border-radius: var(--border-radius);
    background-size: cover; /* Cover the entire .item */
    background-position: center; /* Center the background image */
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 0 1em 1em;
}

.animation.item {
  flex: 3;
}

.accordion .item h3 {
    margin-top: auto;
}

.fade-in {
    animation: fadeInAnimation 0.5s forwards; /* Adjust time as needed */
    visibility: hidden; /* Start hidden and let the animation reveal the text */
}

@keyframes fadeInAnimation {
    to {
        visibility: visible;
        opacity: 1;
    }
}

/* Ensure text is initially hidden and only shown through the animation */
.accordion .item h3, .accordion .item p, .accordion .item a {
    visibility: hidden;
    opacity: 0; /* Start fully transparent */
}

/* Updated CSS for showing/hiding text based on your previous request */
.accordion .item h3, .accordion .item p, .accordion .item a {
    color: var(--color-whites);
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0; /* Start fully transparent */
}

.accordion .item h3 {
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.accordion .item a {
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-whites);
    width: max-content;
    color: var(--color-headings);
    text-decoration: none;
    transition: var(--transition);
}

.accordion .item a:hover {
    background-color: var(--color-accents);
    border: var(--color-accents);
    color: var(--color-headings);
}

.item:first-of-type {
    background-image: url('../images/kilian.jpg');
}

.item:nth-of-type(2) {
    background-image: url('../images/fenna.jpeg');
}

.item:first-of-type.gradient-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), var(--bg-urlone);
}

.item:nth-of-type(2).gradient-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), var(--bg-urltwo);
}

/* ----- */
/* GOALS */
/* ----- */

.goals {
    margin: 7.5em 0;
}

.goals > h2,
.goals > p {
    margin: 0;
    text-align: center;
}

.goals > ul > a {
    text-decoration: none;
    color: var(--color-headings);
}

.goals > ul > a > li p {
    margin-top: 1em;
    line-height: 1em;
    padding: 0 2vw 2vh;
    max-width: 70%;
    transition: var(--transition);
}

.goals > ul > a > li p:first-child {
    font-family: "Work Sans", sans-serif;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
}

.goals > ul > a > li p:nth-of-type(2) {
    font-family: "Playfair Display", serif;
    font-style: italic;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
}

.goals > ul > a:hover > li p:first-child {
    opacity: 0;
}

.goals > ul > a:hover > li p:nth-of-type(2) {
    opacity: 1;
}

.goals ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2.5em 0 0 0;
    position: relative;
}

.goals ul a {
    position: relative;
}

.notch {
    position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0vh;
  right: 0;
  background-color: #fbfafd;
  border-top-left-radius: 50%;
  z-index: 8000;
}

.goals ul a li {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);

    max-width: 280px;
    min-width: 280px;
    min-height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.goals ul a:first-of-type li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/green.jpg");
}

.goals ul a:nth-of-type(2) li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/blue.jpg");
}

.goals ul a:nth-of-type(3) li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/whiteblue.jpg");
}

.goals ul a:nth-of-type(4) li {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fbfafd 100%), url("../images/white.jpg");
}

.round-button {
    width: 50px;
  height: 50px;
  background-color: var(--color-blue);
  border-radius: 50%;
  position: absolute;
  bottom: 0vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 9999;
  transition: var(--transition);
  }

  .goals ul a:hover .round-button,
  .round-button:hover {
    background-color: var(--color-accents);
  }


/* ---- */
/* BLOG */
/* ---- */

.maincontent {
    display: flex;
    gap: 10vw;
}

.blog {
    max-width: 800px;
}

.reflection {
    margin-top: 3vh;
    border-radius: var(--border-radius);
    border: .5px solid var(--color-headings);
    font-size: small;
    width: 100%;
    height: max-content;
}

.reflection h2 {
    margin: 1em;
    padding-left: .5em;
    border-radius: 30px;
    background: transparent;
    background-image: var(--lineargradient);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.reflection h3 {
    margin: 0;
}


.reflection ul {
    padding: inherit;
    list-style-type: "⋒  ";
}

.reflection ul li {
    margin: .5em auto;
}

.reflection ul li::marker {
    color: var(--color-breadcrumbs);
}

.blog-title {
    margin-top: .5em;
    margin-bottom: 0;
}

#metadata {
    font-style: italic;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--color-breadcrumbs);
}

/* SEPARATE SECTIONS */
.reflection > section {
    border-radius: var(--border-radius);
    padding: 1em 2em;
    margin: 0;
}

.reflection > section h3 {
    margin-top: 1em;
}

.stat {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    cursor: pointer;
}

#stats {
    background-color: #f4f2f9;
    border: .5px solid var(--color-headings);
    padding: 0.5em 2em;
}

#opinions {
    border: .5px solid var(--color-accents);
    background-color: #e7ddf1;
}

#integration {
    background-color: #f4f2f9;
    border: .5px solid var(--color-headings);
}

#tagcontainer {
    display:inline-flex;
    flex-direction: row;
}

.tag {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin: 0 5px;
    padding: 0 1vw;
    background-color: #e7ddf1;
    border-radius: 3px;
    font-size: 0.8em;
    cursor: pointer;
}

.tag i {
    font-size: 1em;
    font-weight: 100;
    color: var(--color-headings);
    margin-right: .5vw;
}

.tag:hover {
    border: .5px solid var(--color-headings);
}

#stats ul li:hover::after {
    content: "";
    padding: auto 16px;
    margin-left: .5vw;
    display: inline;
    font-family: "Work Sans", sans-serif;
    font-size: .75em;

    background: var(--lineargradient);
    border-radius: var(--border-radius);

}

#stats ul li:first-of-type:hover::after {
    content: "Very unlikely - Unlikely - Likely - Very Likely";
}

#stats ul li:nth-of-type(2):hover::after {
    content: "No impact - Small impact - Large impact";
}

#stats ul li:nth-of-type(3):hover::after {
    content: "Uninspired - Inspired - Very inspired";
}